.about-business {

    &__c {
        display: grid;
        grid-template-columns: auto 44rem;
        gap: 4rem;
        padding: 6rem;
        box-sizing: border-box;
        border-radius: 3rem;
        box-shadow: 1.6rem 1.4rem 6rem 0px rgba(0, 89, 255, 0.14);

        @include small-tablet{
            grid-template-columns: 1fr;
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        &-left {
            display: flex;
            flex-direction: column;
            gap: 4rem;

            &-list {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;

                @include small-tablet {
                    gap: 3rem;
                }

                &-e {
                    display: grid;
                    grid-template-columns: 1fr 1.2fr;
                    grid-auto-rows: auto;
                    gap: 2.4rem;
                    @include small-tablet{
                        grid-template-columns: 1fr;
                    }


                }

            }

        }
        &-right{
            display: flex;
            border-radius: 3rem;
            overflow: hidden;
            & img{
                object-fit: cover;
                object-position: center;
                width: 100%;

            }
        }


    }
}