.blog-current {
    margin-top: 6.5rem;

    &__c {
        display: grid;
        grid-template-columns: auto 60rem;
        grid-template-rows: auto min-content min-content min-content min-content min-content;
        grid-template-areas:
            'head verified'
            'info side'
            'body side'
            'body side'
            'body side'
            'body side';
        gap: 3.5rem 4rem;

        @include small-tablet {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, min-content);
            grid-template-areas:
                'head'
                'verified'
                'info'
                'body'
                'side'
            ;
        }

        &-head {
            grid-area: head;

        }

        &-info {
            grid-area: info;
            display: flex;
            gap: 2rem 4.8rem;
            flex-wrap: wrap;
            height: fit-content;

            &-tags {
                display: flex;
                gap: 2rem;
            }

            &-time {
                display: flex;
                gap: 1rem;
                align-items: center;
                height: fit-content;

                & svg {
                    width: 3.2rem;
                    height: 3.2rem;
                }
            }

        }

        &-body {
            grid-area: body;
            display: flex;
            flex-direction: column;
            gap: 3.5rem;

            &-img {
                height: 48.4rem;
                width: 100%;
                display: flex;

                & img {
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    border-radius: 3rem;
                }

            }

            &-checked {
                display: flex;
                flex-direction: column;
                gap: 2.6rem;

                &-e {
                    display: flex;
                    align-items:flex-start;
                    gap: 1rem;

                    & img {
                       
                        width: 3.6rem;
                        height: 3.6rem;
                        @include small-tablet{
                            margin-top: .2rem;
                        }
                    }
                }

            }

            &-accent {
                display: grid;
                grid-template-columns: min-content auto;
                grid-template-rows: 1fr;
                gap: 4px;
                border-radius: 3rem;
                overflow: hidden;

                &-img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 3rem 2rem;
                    box-sizing: border-box;
                    background-color: $light-blue;


                    & svg {
                        width: 4.8rem;
                        height: 4.8rem;
                    }

                    & img {
                        width: 4.8rem;
                        height: 4.8rem;
                    }
                }

                &-text {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    padding: 3rem 2rem;
                    box-sizing: border-box;
                    background-color: $light-blue;
                }
            }


        }

        &-verified {
            grid-area: verified;
            display: grid;
            grid-template-columns: 10rem auto;
            grid-auto-rows: min-content min-content min-content;
            background-color: $white;
            border-radius: 3rem;
            gap: .4rem 2rem;
            box-shadow: 1.6rem 1.4rem 6rem 0px rgba(0, 89, 255, 0.14);
            box-sizing: border-box;
            padding: 2rem 2.8rem;

            &-img {
                height: 11.2rem;
                grid-row: 1 / span 3;
                border-radius: 3rem;
                overflow: hidden;
                display: flex;

                & img {
                    object-fit: cover;
                    width: 100%;
                    min-height: 100%;
                    object-position: center;
                }
            }

            &-head {
                display: flex;
                gap: 1rem;

                & svg {
                    width: 3.2rem;
                    height: 3.2rem;
                }

            }

        }

        &-side {
            grid-area: side;
            max-width: 100%;

            @include small-tablet {
                grid-row: 5;
            }

            & div p {
                max-width: 40rem;
            }

            & div img {
                bottom: -25%;
                right: -70%;
            }
        }

    }
}