.individ-banner {
    margin-top: 3.5rem;

    @include small-tablet {
        margin-top: 16rem;
    }

    &__c {
        position: relative;
        display: flex;
        gap: 4.8rem;
        padding: 4rem;
        border-radius: 3rem;
        box-shadow: 2.6rem 2.4rem 8rem 0px rgba(0, 89, 255, 0.14);
        overflow: hidden;
        align-items: center;

        @include small-tablet {
            flex-direction: column;
            align-items: flex-start;
            padding: 3rem;
        }


        &-top {
            display: flex;
            flex-direction: column;
            gap: 3.2rem;
            max-width: 58.5rem;

            @include small-tablet {
                max-width: 71%;
            }

        }

        &-phone {
            margin-left: auto;
            display: flex;
            align-items: center;
            gap: 1rem;
            position: relative;
            z-index: 2;

            @include small-tablet {
                margin-left: 0;
            }

            & img {
                width: 3.2rem;
                height: 3.2rem;

                @include small-tablet {
                    width: 6.4rem;
                    height: 6.4rem;
                }
            }
        }

        & .btn-primary {
            position: relative;
            z-index: 2;

            @include small-tablet {
                display: none;
            }
        }

        &-bg {
            position: absolute;
            z-index: 1;
            right: -34%;
            top: -135%;
            width: 77rem;
            height: 77rem;

            @include small-tablet {
                right: -72%;
                top: -30%;
            }
        }

    }
}