.our-specialists {
    margin-top: 6.5rem;
    &__c {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;
        &-list{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-rows: 1fr;
            gap: 3.5rem;
            @include small-tablet{
                grid-template-columns: 1fr;
            }
        }
    }
}