.prices {
    &__c {
        display: grid;
        grid-template-columns: auto 47.1rem;
        grid-template-rows: min-content auto;
        gap: 4rem 3.5rem;

        @include small-tablet {
            grid-template-columns: 1fr;
            gap: 8rem;
        }

        &-top {
            grid-column: 1 / span 2;
            grid-row: 1;
            display: flex;
            justify-content: space-between;

            @include small-tablet {
                grid-column: 1;
                flex-direction: column;
                gap: 5rem;
            }

            &-link {
                @include small-tablet {
                    width: fit-content;
                }
            }
        }



        &-list {
            display: flex;
            flex-direction: column;
            gap: 4rem;

            &-e {
                display: grid;
                grid-template-rows: min-content 0fr;
                transition: all .5s;

                &._opened {
                    grid-template-rows: min-content 1fr;

                    & .dd-arrow {
                        & .dd-arrow-icon {
                            transform: rotate(0);
                            background-color: $white;
                            box-shadow: 3px 6px 30px 0px rgba(0, 89, 255, 0.2);

                            & svg {
                                fill: $blue;
                            }
                        }
                    }
                }

                &-target {
                    box-sizing: border-box;
                    padding: 2rem;
                    border-radius: 3rem;
                    background-color: $light-blue;
                    justify-content: space-between;



                    @include small-tablet {
                        display: grid;
                        grid-template-columns: auto 8.5rem;

                    }

                    &-price {
                        margin-left: auto;
                        margin-right: 6rem;
                    }
                }

                &-info {
                    overflow: hidden;

                    @include small-tablet {
                        & .txt20 {

                            font-size: 2.8rem;
                            line-height: 3.8rem;

                        }
                    }




                    &-w {
                        padding: 3.2rem 13rem 0 2.4rem;
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: column;
                        gap: 1.6rem;
                    }

                    &-heading {
                        font-family: Gilroy;
                        font-size: 2rem;
                        font-weight: 700;
                        line-height: 3.5rem;
                        letter-spacing: 0.01em;
                        text-align: left;
                        margin-top: 0.8rem;

                        @include small-tablet {
                            font-size: 3.2rem;
                            line-height: 4.4rem;
                        }
                    }

                    &-list {
                        display: flex;
                        flex-direction: column;
                        gap: 1.2rem;

                        &-e {
                            display: flex;
                            align-items: flex-start;
                            gap: 1.1rem;


                            &-circle {
                                margin-top: 1.1rem;
                                width: 0.6rem;
                                height: 0.6rem;
                                background-color: $blue;
                                display: block;
                                border-radius: 50%;

                                @include small-tablet {
                                    width: 1.1rem;
                                    height: 1.1rem;
                                }
                            }
                        }
                    }

                    &-btn {
                        width: fit-content;
                    }

                }
            }
        }

        &-right {
            position: sticky;
            top: 18rem;
            height: fit-content;
            @include small-tablet{
                position: relative;
                top: 0;
            }


            &-c {

                display: flex;
                flex-direction: column;
                gap: 0.4rem;
                position: relative;



                &-img {
                    position: absolute;
                    width: 14.5rem;
                    height: 14.5rem;
                    transform: translate(0, -50%);

                    @include small-tablet {
                        width: 18.6rem;
                        height: 18.6rem;
                    }
                }

                &-top {
                    box-sizing: border-box;
                    padding: 5rem 5rem 2.4rem;
                    background-color: $light-blue;
                    text-align: center;

                    display: flex;
                    flex-direction: column;
                    gap: 1.6rem;
                    border-radius: 3rem 3rem 0 0;

                    @include small-tablet {
                        padding: 11rem 5.3rem 6.3rem;
                        gap: 3.1rem;
                    }
                }

                &-bottom {
                    border-radius: 0 0 3rem 3rem;
                    text-align: center;
                    box-sizing: border-box;
                    padding: 2.4rem 5rem 5rem;
                    background-color: $light-blue;
                    display: flex;
                    flex-direction: column;
                    gap: 1.6rem;

                    @include small-tablet {
                        padding: 6.3rem 5.3rem 11rem;
                        gap: 3.1rem;
                    }
                }
            }
        }
    }
}