.form-input-txt {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    &-el {
        padding-bottom: 1.2rem;
        border-bottom: 2px solid $blue;
        color: $black;

        &::placeholder {
            color: rgba(124, 145, 177, 1);
        }



    }

    &-error {
        max-width: 100%;
        min-height: 2rem;

        @include small-tablet {
            min-height: 4rem;
        }
    }

    &._error {
        color: $red;

        & .form-input-txt-el {
            border-bottom: 2px solid $red;
            color: $red;

            &::placeholder {
                color: $red;
            }
        }
    }

}

.form-check {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    font-family: Gilroy;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
    letter-spacing: 0.01em;

    @include small-tablet {
        font-size: 2.2rem;
        line-height: 3.2rem;

    }

    &._error {
        color: $red;
    }

    &-input {
        opacity: 0;
        position: absolute;

        &:checked+.form-check-icon {
            border-color: $blue;
        }

        &:checked+.form-check-icon svg {
            opacity: 1;
        }
    }

    &-icon {
        border: 2px solid $gray;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @include small-tablet {
            width: 5rem;
            height: 5rem;
        }

        & svg {
            opacity: 0;
            width: 80%;
            height: 50%;


        }

    }
}

.form-stars {
   

    &__c {
        margin-top: 1.2rem;
        display: grid;
        width: fit-content;
        grid-template-columns: repeat(5, 1fr);

        &-item {
            position: relative;
            z-index: 2;
            width: 4rem;
            height: 4rem;
            opacity: 0;
            @include small-tablet{
                width: 8rem;
                height: 8rem;
            }

            &:nth-of-type(1):checked{
                &~.form-stars__c-stars svg:nth-of-type(1) {
                    fill: $blue;
                }
            }
            &:nth-of-type(2):checked{
                &~.form-stars__c-stars svg:nth-of-type(-n+2) {
                    fill: $blue;
                }
            }
            &:nth-of-type(3):checked{
                &~.form-stars__c-stars svg:nth-of-type(-n+3) {
                    fill: $blue;
                }
            }
            &:nth-of-type(4):checked{
                &~.form-stars__c-stars svg:nth-of-type(-n+4) {
                    fill: $blue;
                }
            }
            &:nth-of-type(5):checked{
                &~.form-stars__c-stars svg:nth-of-type(-n+5) {
                    fill: $blue;
                }
            }

        }

        &-stars {
            position: absolute;
            z-index: 1;
            display: grid;
            width: fit-content;
            grid-template-columns: repeat(5, 1fr);

            & svg {
                width: 4rem;
                height: 4rem;
                @include small-tablet{
                    width: 8rem;
                    height: 8rem;
                }
            }
        }
    }

}