.marked-list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    &-e {
        display: flex;
        align-items: flex-start;
        gap: 1rem;

       

        & img {
            margin-top: .7rem;
            width: .6rem;
            height: .6rem;
            flex-shrink: 0;

            @include small-tablet {
                margin-top: 1rem;
                width: 1rem;
                height: 1rem;
            }

        }
    }
}