.side-box {
    border-radius: 3rem;
    box-shadow: 2.6rem 2.4rem 8rem 0px rgba(0, 89, 255, 0.14);
    height: fit-content;
    position: sticky;
    top: 15rem;
    max-width: 47rem;
    min-height: 40.8rem;
    display: flex;

    @include small-tablet {
        grid-row: 2;
        position: relative;
        top: 0;
        max-width: 100%;
        min-height: 72rem;

    }

    &__c {
        border-radius: 3rem;
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
        padding: 3.2rem;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        width: 100%;


        & p,
        span,
        button {
            position: relative;
            z-index: 3;
        }

        &-phone {
            display: flex;
            align-items: center;
            gap: 1rem;

            & img {
                width: 3.2rem;
                height: 3.2rem;
            }

        }

        & .btn-primary {
            width: fit-content;
        }

        &-bg {
            z-index: 2;
            position: absolute;
            bottom: -80%;
            right: -30%;

            @include small-tablet {
                bottom: -42%;
                right: -33%;
            }
        }

    }

}