// typography
@import './typo';
@import './buttons';
@import './form';
@import './slider-action';
@import './price';
@import './marked-list';
@import './checked-list';
@import './side-box';


.fancybox__container {
    backdrop-filter: 1rem;
    -webkit-backdrop-filter: 1rem;
    --fancybox-bg: rgba(25, 31, 43, 0.8);

}

.fancybox__toolbar {
    --f-button-bg: rgba(25, 31, 43, 0.8);
    --f-button-hover-bg: rgba(25, 31, 43, 0.8);
    --f-button-active-bg: rgba(25, 31, 43, 0.8);
}


.col-green{
    color: $green;
}