<section class="advantages">
    <div class="container">
        <div class="advatages__c">
            <div class="advatages__c-left">
                <h2 class="tl1">Преимущества клиники</h2>
                <ul class="advatages__c-left-list">
                    <li class="advatages__c-left-list-e">
                        <img src="./assets/images/icons/Check.svg" alt="V">
                        <p class="txt24">Бесплатная консультация</p>
                    </li>

                    <li class="advatages__c-left-list-e">
                        <img src="./assets/images/icons/Check.svg" alt="V">
                        <p class="txt24">Возможность онлайн-лечения</p>
                    </li>
                    <li class="advatages__c-left-list-e">
                        <img src="./assets/images/icons/Check.svg" alt="V">
                        <p class="txt24">Выезд врача на дом за 30 минут</p>
                    </li>
                    <li class="advatages__c-left-list-e">
                        <img src="./assets/images/icons/Check.svg" alt="V">
                        <p class="txt24">Гарантия при прохождении полного курса лечения</p>
                    </li>

                    <li class="advatages__c-left-list-e">
                        <img src="./assets/images/icons/Check.svg" alt="V">
                        <p class="txt24">Высококвалифицированные специалисты</p>
                    </li>

                </ul>
                <a href="#" class="advatages__c-left-btn btn-second txt24 txt24_bold col-bl">
                    Подробнее о клинике
                </a>
            </div>
            <div class="advatages__c-right">
                <div class="advatages__c-right-item advatages__c-right-item_one">
                    <p class="advatages__c-right-item-count   col-bl">10 лет</p>
                    <p class="advatages__c-right-item-text txt20">лечим зависимости</p>
                </div>
                <div class="advatages__c-right-item advatages__c-right-item_two">
                    <p class="advatages__c-right-item-count   col-bl">14 000</p>
                    <p class="advatages__c-right-item-text txt20">пациентов вылечили</p>
                </div>
                <div class="advatages__c-right-item advatages__c-right-item_three">
                    <p class="advatages__c-right-item-count  col-bl">7 000+</p>
                    <p class="advatages__c-right-item-text txt20">спасенных семей</p>
                </div>
            </div>

        </div>

    </div>
</section>