<section class="all-types">
    <div class="container">
        <div class="all-types__c">
            <div class="all-types__c-top">
                <p class="txt20">При обнаружении проблемы, сразу обратитесь к специалисту!</p>
                <a href="#" class="all-types__c-top-link btn-primary txt24 txt24_bold">
                    Все услуги</a>
                <h2 class="tl1">Лечение всех типов зависимости</h2>

            </div>
            <div class="all-types__c-items swiper">
                <ul class="all-types__c-items-list swiper-wrapper">
                    <li class="all-types__c-items-list-e swiper-slide">
                        <a href="#">
                            <div class="all-types__c-items-list-e-img">
                                <img src="./assets/images/all-types-1.webp" alt="type">
                            </div>
                            <div class="all-types__c-items-list-e-info">
                                <p class="txt24 txt24_bold">Лечение наркомании</p>
                               
                                <button class="dd-arrow all-types__c-items-list-e-info-btn">
                                    <span class="dd-arrow-icon">
                                      <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                          d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z" />
                                      </svg>
                                    </span>
                          
                                  </button>
                                <p class="txt24"> курс лечения от 1 месяца</p>

                            </div>
                        </a>
                    </li>
                    <li class="all-types__c-items-list-e swiper-slide">
                        <a href="#">
                            <div class="all-types__c-items-list-e-img">
                                <img src="./assets/images/all-types-2.webp" alt="type">
                            </div>
                            <div class="all-types__c-items-list-e-info">
                                <p class="txt24 txt24_bold">Лечение алкоголизма
                                </p>
                                <button class="dd-arrow all-types__c-items-list-e-info-btn">
                                    <span class="dd-arrow-icon">
                                      <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                          d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z" />
                                      </svg>
                                    </span>
                          
                                  </button>
                                <p class="txt24"> курс лечения от 1 месяца</p>

                            </div>
                        </a>
                    </li>
                    <li class="all-types__c-items-list-e swiper-slide">
                        <a href="#">
                            <div class="all-types__c-items-list-e-img">
                                <img src="./assets/images/all-types-3.webp" alt="type">
                            </div>
                            <div class="all-types__c-items-list-e-info">
                                <p class="txt24 txt24_bold">Лечение игромании</p>
                                <button class="dd-arrow all-types__c-items-list-e-info-btn">
                                    <span class="dd-arrow-icon">
                                      <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                          d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z" />
                                      </svg>
                                    </span>
                          
                                  </button>
                                <p class="txt24"> курс лечения от 1 месяца</p>

                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="all-types__c-slider slider-actions slider-actions_mobile">

                <div class="slider-actions-pagin swiper-all-types-pagin">
                   
                </div>
                <div class="slider-actions-btns">
                    <button class="btn-slider btn-slider_left swiper-all-types-prev" >
                        <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z">
                            </path>
                        </svg>
                    </button>

                    <button class="btn-slider btn-slider_right swiper-all-types-next">
                        <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z">
                            </path>
                        </svg>
                    </button>
                </div>

            </div>
        </div>

    </div>
</section>