<section class="blood-stage">
    <div class="container">
        <h2 class="tl1">Основные виды чистки крови</h2>
        <div class="blood-stage__c">
            <div class="blood-stage__c-nav">
                <button class="blood-stage__c-nav-btn txt24 txt24_bold blood-stage__c-nav-btn_active"
                    data-slideto="0">Плазмаферез</button>
                <button class="blood-stage__c-nav-btn txt24 txt24_bold" data-slideto="1">Гемосорбция</button>
                <div class="blood-stage__c-nav-indication">
                    <span class="blood-stage__c-nav-indication-line"></span>
                </div>
            </div>
            <div class="blood-stage__c-slider swiper">
                <ul class="blood-stage__c-slider-list swiper-wrapper">
                    <li class="blood-stage__c-slider-list-e swiper-slide">
                        <p class="txt20">Чистка крови от метаболитов наркотиков вне организма (экстракорпоральное) с
                            помощью следующих методик :</p>
                        <ul class="marked-list">
                            <li class="marked-list-e txt20 col-gray">
                                <img src="./assets/images/icons/dot.svg" alt="dot">
                                Мембранный плазмоферез
                            </li>
                            <li class="marked-list-e txt20 col-gray">
                                <img src="./assets/images/icons/dot.svg" alt="dot">
                                Центрифужный, когда разделение крови обеспечивается с помощью центрифугирования
                                определенного ее объема
                            </li>
                        </ul>
                        <div class="blood-stage__c-slider-list-e-footer checked-list__e">
                            <span class=" checked-list__e-img">
                                <img src="./assets/images/icons/Check.svg" alt="v">
                            </span>
                            <span class="checked-list__e-text txt20">За время процедуры плазма крови полностью очищается
                                от метаболитов
                                наркотиков.</span>
                        </div>
                    </li>
                    <li class="blood-stage__c-slider-list-e swiper-slide">
                        <p class="txt20">Чистка крови от метаболитов наркотиков вне организма (экстракорпоральное) с
                            помощью следующих методик :</p>
                        <ul class="marked-list">
                            <li class="marked-list-e txt20 col-gray">
                                <img src="./assets/images/icons/dot.svg" alt="dot">
                                Мембранный плазмоферез
                            </li>
                            <li class="marked-list-e txt20 col-gray">
                                <img src="./assets/images/icons/dot.svg" alt="dot">
                                Центрифужный, когда разделение крови обеспечивается с помощью центрифугирования
                                определенного ее объема
                            </li>
                        </ul>
                        <div class="blood-stage__c-slider-list-e-footer checked-list__e">
                            <span class=" checked-list__e-img">
                                <img src="./assets/images/icons/Check.svg" alt="v">
                            </span>
                            <span class="checked-list__e-text txt20">За время процедуры плазма крови полностью очищается
                                от метаболитов
                                наркотиков.</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="blood-stage__c-img">
                <img src="./assets/images/blood-stage.webp" alt="blood">
            </div>

        </div>
    </div>
</section>