<section class="clinic-photos">
    <div class="container">
        <h2 class="tl1 clinis-photos__head">Фото клиники</h2>
        <div class="clinic-photos__slider swiper">
            <ul class="clinic-photos__slider-list swiper-wrapper">
                <li class="clinic-photos__slider-list-e swiper-slide ">
                    <img src="./assets/images/clinic-photo.webp" alt="clinic">
                </li>
                <li class="clinic-photos__slider-list-e swiper-slide ">
                    <img src="./assets/images/clinic-photo.webp" alt="clinic">
                </li>
                <li class="clinic-photos__slider-list-e swiper-slide">
                    <img src="./assets/images/clinic-photo.webp" alt="clinic">
                </li>
                <li class="clinic-photos__slider-list-e swiper-slide">
                    <img src="./assets/images/clinic-photo.webp" alt="clinic">
                </li>
                <li class="clinic-photos__slider-list-e swiper-slide">
                    <img src="./assets/images/clinic-photo.webp" alt="clinic">
                </li>
            </ul>
        </div>
        <div class=" slider-actions ">

            <div class="slider-actions-pagin clinic-photos-pagin">
               
            </div>
            <div class="slider-actions-btns">
                <button class="btn-slider btn-slider_left clinic-photos-prev">
                    <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z">
                        </path>
                    </svg>
                </button>

                <button class="btn-slider btn-slider_right clinic-photos-next">
                    <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z">
                        </path>
                    </svg>
                </button>
            </div>

        </div>
    </div>
</section>