<section class="contacts">
    <div class="container">
        <h2 class="tl1"> Контакты</h2>
        <div class="contacts__c">
            <div class="contacts__c-links">
                <p class="txt24">Свяжитесь с нами любым удобным способом</p>
                <ul class="contacts__c-links-list">
                    <li class="contacts__c-links-list-e txt24">
                        <div class="contacts__c-links-list-e-img">
                            <img src="../assets/images/icons/phone-white.svg" alt="phone">
                        </div>
                        8 800 000 00 00
                    </li>
                    <li class="contacts__c-links-list-e txt24">
                        <div class="contacts__c-links-list-e-img">
                            <img src="../assets/images/icons/mail-white.svg" alt="mail">
                        </div>
                        forexample@.com
                    </li>
                    <li class="contacts__c-links-list-e txt24">
                        <div class="contacts__c-links-list-e-img">
                            <img src="../assets/images/icons/geo-white.svg" alt="geo">
                        </div>
                        г. Южно-Сахалинск, ул. Пожарского, д.22
                    </li>
                </ul>
            </div>
            <form class="contacts__c-form">
                <span class="form-input">
                    <input type="text" class="form-input-el txt20" placeholder="Имя" required>
                    <span class="form-input-error txt14"></span>
                </span>
                <span class="form-input">
                    <input type="text" class="form-input-el txt20" placeholder="Номер телефона" required>
                    <span class="form-input-error txt14"></span>
                </span>
                <span class="contacts__c-form-comment form-input">
                    <input type="text" class="form-input-el txt20" placeholder="Ваше сообщение (не обязательно)">
                    <span class="form-input-error txt14"></span>
                </span>
                <label class="contacts__c-form-check form-check">
                    <input class="form-check-input" type="checkbox">
                    <span class="form-check-icon">
                      <svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 3.33333L5.8 8L13 1" stroke="#4F84E0" stroke-width="2" stroke-linecap="round" />
                      </svg>
                    </span>
                    Отправляя форму, вы соглашаетесь с политикой конфиденциальности
                  </label>
                
                <button type="submit" class="btn-primary txt24 txt24_bold">Отправить</button>
            </form>
            <div class="contacts__c-map" id="map">

            </div>
        </div>
    </div>
</section>