<section class="detox">
    <div class="container detox__c">
        <h2 class="tl1">Как проходит детоксикация</h2>
        <div class="detox__c-list">
            <div class="detox__c-list-e">
                <span class="detox__c-list-e-count txt24 txt24_bold">1</span>
                <h3 class="tl3 col-bl">Звонок в клинику</h3>
                <p class="txt18 col-gray">Звонки принимаются круглосуточно</p>
            </div>
            <div class="detox__c-list-arrow">
                <img src="./assets/images/icons/super-big-arrow.svg" alt=">">
            </div>
            <div class="detox__c-list-e">
                <span class="detox__c-list-e-count txt24 txt24_bold">2</span>
                <h3 class="tl3 col-bl">Через 30 минут</h3>
                <p class="txt18 col-gray">Детоксикация у вас дома или в клинике</p>
            </div>
            <div class="detox__c-list-arrow">
                <img src="./assets/images/icons/super-big-arrow.svg" alt=">">
            </div>
            <div class="detox__c-list-e">
                <span class="detox__c-list-e-count txt24 txt24_bold">3</span>
                <h3 class="tl3 col-bl">Через час</h3>
                <p class="txt18 col-gray">Пациент заснет здоровым сном</p>
            </div>
        </div>
    </div>
</section>