<section class="faq">
    <div class="container">
        <h2 class="tl1">Вопрос / Ответ</h2>
        <div class="faq__c">
            <div class="faq__c-left">
                <div class="faq__c-left-top">
                    <p class="tl3"> <strong>Получите бесплатную консультацию</strong></p>
                    <ul class="faq__c-left-top-list">
                        <li class="faq__c-left-top-list-e">
                            <img src="./assets/images/icons/Check.svg" alt="V">
                            <p class="txt18">Минимальный стаж работы врачей от 12 лет</p>
                        </li>
                        <li class="faq__c-left-top-list-e">
                            <img src="./assets/images/icons/Check.svg" alt="V">
                            <p class="txt18">Минимальный стаж работы врачей от 12 лет</p>
                        </li>
                        <li class="faq__c-left-top-list-e">
                            <img src="./assets/images/icons/Check.svg" alt="V">
                            <p class="txt18">Минимальный стаж работы врачей от 12 лет</p>
                        </li>
                    </ul>
                </div>
                <div class="faq__c-left-bottom">
                    <button class="btn-primary txt24 txt24_bold modal-opener" data-modal="send-call">
                        Получите консультацию
                    </button>
                </div>
            </div>
            <ul class="faq__c-right">
                <li class="faq__c-right-e drop-down-container">
                    <button class="faq__c-right-e-target dd-arrow drop-down-target">
                        <span class="dd-arrow-text tl3"> <strong>Проведение процедуры на дому</strong></span>
                        <span class="dd-arrow-icon">
                            <svg width="22" height="16" viewBox="0 0 22 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z">
                                </path>
                            </svg>
                        </span>
                    </button>
                    <div class="faq__c-right-e-content">
                        <div class="faq__c-right-e-content-data">
                            <p class="txt20">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis accusamus, quisquam
                                similique in consequuntur modi? Recusandae, ratione consectetur tenetur voluptatum dolor
                                est esse, facilis ipsa blanditiis maiores asperiores quidem corporis vel. Accusamus
                                dolorum, nulla nostrum blanditiis hic doloremque at ducimus quis error maxime suscipit
                                quas. Est minus quisquam molestiae quis!
                            </p>
                        </div>

                    </div>
                </li>
                <li class="faq__c-right-e drop-down-container">
                    <button class="faq__c-right-e-target dd-arrow drop-down-target">
                        <span class="dd-arrow-text tl3"> <strong>Как быстро человек выходит из запоя при лечении?
                            </strong></span>
                        <span class="dd-arrow-icon">
                            <svg width="22" height="16" viewBox="0 0 22 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z">
                                </path>
                            </svg>
                        </span>
                    </button>
                    <div class="faq__c-right-e-content">
                        <div class="faq__c-right-e-content-data">
                            <p class="txt20">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ratione tempora ipsam,
                                repellendus aperiam praesentium inventore? Molestiae ea facilis nisi ipsam repudiandae
                                optio alias sunt accusantium! Beatae praesentium magnam iure porro doloribus optio
                                architecto labore placeat enim dolore quis accusamus modi aspernatur, hic ullam et,
                                nulla culpa suscipit aperiam. Pariatur, ducimus! At cupiditate nobis voluptate optio
                                quam? Modi blanditiis ratione facere? Officia, ratione explicabo. Doloribus porro,
                                commodi debitis veritatis facere, tenetur nesciunt consequuntur, aut rem dicta obcaecati
                                magni quisquam expedita neque illo ipsum ipsam cumque placeat. Soluta rem exercitationem
                                nemo! Corrupti libero, optio necessitatibus laudantium velit labore sit enim adipisci,
                                provident rem sint illo? Quibusdam quasi quos aspernatur, soluta similique, consectetur
                                accusantium harum praesentium nihil nobis tenetur cupiditate pariatur labore error
                                quidem incidunt cumque eos quae nesciunt sunt aperiam. Error repellat dolorem facilis!
                                Iste laborum dignissimos placeat autem accusamus voluptates porro suscipit blanditiis
                                aliquam dicta non mollitia, voluptatum animi odit fuga impedit. Dicta a ex, voluptatem
                                cumque eos, vel harum fugit praesentium debitis ea nihil cum culpa. Repellendus eos
                                praesentium, dignissimos ullam error architecto dolore perferendis eius similique
                                consequuntur sequi optio laborum possimus sit inventore adipisci in explicabo! Maiores
                                doloremque impedit alias! Praesentium accusamus consequuntur consequatur rerum illum
                                quam corporis!
                            </p>
                        </div>

                    </div>
                </li>
                <li class="faq__c-right-e drop-down-container">
                    <button class="faq__c-right-e-target dd-arrow drop-down-target">
                        <span class="dd-arrow-text tl3"> <strong>Есть ли гарантии того, что после лечения наркоман или
                                алкоголик не вернуться к прежнему образу жизни?</strong></span>
                        <span class="dd-arrow-icon">
                            <svg width="22" height="16" viewBox="0 0 22 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z">
                                </path>
                            </svg>
                        </span>
                    </button>
                    <div class="faq__c-right-e-content">
                        <div class="faq__c-right-e-content-data">
                            <p class="txt20">
                                Для срочного вывода из запоя и постановки капельницы Вы можете вызвать врача на дом,
                                услуга
                                оказывается круглосуточно, оперативно и анонимно.
                            </p>
                        </div>

                    </div>
                </li>
                <li class="faq__c-right-e drop-down-container">
                    <button class="faq__c-right-e-target dd-arrow drop-down-target">
                        <span class="dd-arrow-text tl3"> <strong>Как быстро человек выходит из запоя при
                                лечении?</strong></span>
                        <span class="dd-arrow-icon">
                            <svg width="22" height="16" viewBox="0 0 22 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z">
                                </path>
                            </svg>
                        </span>
                    </button>
                    <div class="faq__c-right-e-content">
                        <div class="faq__c-right-e-content-data">
                            <p class="txt20">
                                Для срочного вывода из запоя и постановки капельницы Вы можете вызвать врача на дом,
                                услуга
                                оказывается круглосуточно, оперативно и анонимно.
                            </p>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>