<section class="feedback">
    <div class="container">
        <div class="feedback__top">
            <h2 class="tl1">Отзывы</h2>
            <a href="#" class="btn-second txt24 txt24_bold"> Смотреть все отзывы</a>
        </div>
        <div class="feedback__slider swiper">
            <ul class="feedback__slider-list swiper-wrapper feedback-container">
                <li class="feedback__slider-list-e swiper-slide">
                    <div class="feedback__slider-list-e-top">
                        <p class="txt24 txt24_bold">Иван Иванов</p>
                        <p class="txt18 col-gray">24.20.24</p>
                    </div>
                    <div class="feedback__slider-list-e-body">
                        <div class="feedback__slider-list-e-body-c ">
                            <p class="feedback__slider-list-e-body-c-txt txt18 ">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda adipisci corporis ad
                                recusandae? Assumenda cum dicta dignissimos rerum, inventore necessitatibus fugiat sunt
                                quibusdam nobis doloribus dolores! Commodi nobis accusantium dicta tenetur, consequuntur
                                alias! In sed cumque libero quas, eos, minus sint, aspernatur iusto architecto veniam
                                nulla sunt sequi quibusdam! Quis soluta placeat a omnis ipsa repellendus nostrum ea.
                                Tempore, totam recusandae eos, odit magnam eaque fugiat et debitis dolore nemo
                                exercitationem reprehenderit cupiditate voluptatum earum rem. Quod itaque autem, quidem
                                iure ullam quos omnis quaerat cum, dicta nulla impedit. Recusandae facilis, eveniet quos
                                quas corrupti, natus quam iure sit reiciendis, possimus exercitationem inventore
                                accusantium atque magni. Totam eum dolorem adipisci labore ut perspiciatis rem saepe
                                optio, eius nostrum fugiat commodi dolores unde aliquam esse neque ex nisi eligendi
                                placeat beatae atque voluptates dignissimos doloribus? Similique qui labore voluptatem
                                cum aperiam numquam reiciendis minima veniam sint sit at minus nesciunt, ipsa iure
                                laboriosam, magnam aut. Perspiciatis at magnam, quod ut eius minus aliquam nostrum quasi
                                itaque voluptatum ab maxime hic libero dolor aspernatur non earum aut iusto! Libero
                                dicta perferendis voluptatum blanditiis repellendus! Ratione minima ducimus ipsa, eius
                                veritatis eligendi recusandae libero tempore, dolore maxime quisquam qui laborum
                                delectus id sunt?
                            </p>

                        </div>

                    </div>
                    <div class="feedback__slider-list-e-footer">
                        <div class="feedback__slider-list-e-footer-stars">
                            <img src="./assets/images/icons/star-full.svg" alt="star">
                            <img src="./assets/images/icons/star-full.svg" alt="star">
                            <img src="./assets/images/icons/star-full.svg" alt="star">
                            <img src="./assets/images/icons/star-full.svg" alt="star">
                            <img src="./assets/images/icons/star-border.svg" alt="star">


                        </div>
                        <a href="#" class="feedback__slider-list-e-footer-yandex">
                            <img src="./assets/images/icons/yandex-map.svg" alt="yandex-map">
                        </a>
                    </div>
                </li>
                <li class="feedback__slider-list-e swiper-slide">
                    <div class="feedback__slider-list-e-top">
                        <p class="txt24 txt24_bold">Иван Иванов</p>
                        <p class="txt18 col-gray">24.20.24</p>
                    </div>
                    <div class="feedback__slider-list-e-body">
                        <div class="feedback__slider-list-e-body-c">
                            <p class="feedback__slider-list-e-body-c-txt txt18">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum et tempore rem vero eaque
                                autem dolor, incidunt cumque veritatis maxime. Ad quae temporibus ipsam nam.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam tempore quibusdam
                                minus sed praesentium ducimus eos eligendi mollitia! Quibusdam nulla doloremque quos
                                provident illo facere?
                            </p>

                        </div>

                    </div>
                    <div class="feedback__slider-list-e-footer">
                        <div class="feedback__slider-list-e-footer-stars">
                            <img src="./assets/images/icons/star-full.svg" alt="star">
                            <img src="./assets/images/icons/star-full.svg" alt="star">
                            <img src="./assets/images/icons/star-full.svg" alt="star">
                            <img src="./assets/images/icons/star-full.svg" alt="star">
                            <img src="./assets/images/icons/star-border.svg" alt="star">


                        </div>
                        <a href="#" class="feedback__slider-list-e-footer-yandex">
                            <img src="./assets/images/icons/yandex-map.svg" alt="yandex-map">
                        </a>
                    </div>
                </li>
                <li class="feedback__slider-list-e swiper-slide">
                    <div class="feedback__slider-list-e-top">
                        <p class="txt24 txt24_bold">Иван Иванов</p>
                        <p class="txt18 col-gray">24.20.24</p>
                    </div>
                    <div class="feedback__slider-list-e-body">
                        <div class="feedback__slider-list-e-body-c ">
                            <p class="feedback__slider-list-e-body-c-txt txt18 ">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda adipisci corporis ad
                                recusandae? Assumenda cum dicta dignissimos rerum, inventore necessitatibus fugiat sunt
                                quibusdam nobis doloribus dolores! Commodi nobis accusantium dicta tenetur, consequuntur
                                alias! In sed cumque libero quas, eos, minus sint, aspernatur iusto architecto veniam
                                nulla sunt sequi quibusdam! Quis soluta placeat a omnis ipsa repellendus nostrum ea.
                                Tempore, totam recusandae eos, odit magnam eaque fugiat et debitis dolore nemo
                                exercitationem reprehenderit cupiditate voluptatum earum rem. Quod itaque autem, quidem
                                iure ullam quos omnis quaerat cum, dicta nulla impedit. Recusandae facilis, eveniet quos
                                quas corrupti, natus quam iure sit reiciendis, possimus exercitationem inventore
                                accusantium atque magni. Totam eum dolorem adipisci labore ut perspiciatis rem saepe
                                optio, eius nostrum fugiat commodi dolores unde aliquam esse neque ex nisi eligendi
                                placeat beatae atque voluptates dignissimos doloribus? Similique qui labore voluptatem
                                cum aperiam numquam reiciendis minima veniam sint sit at minus nesciunt, ipsa iure
                                laboriosam, magnam aut. Perspiciatis at magnam, quod ut eius minus aliquam nostrum quasi
                                itaque voluptatum ab maxime hic libero dolor aspernatur non earum aut iusto! Libero
                                dicta perferendis voluptatum blanditiis repellendus! Ratione minima ducimus ipsa, eius
                                veritatis eligendi recusandae libero tempore, dolore maxime quisquam qui laborum
                                delectus id sunt?
                            </p>

                        </div>

                    </div>
                    <div class="feedback__slider-list-e-footer">
                        <div class="feedback__slider-list-e-footer-stars">
                            <img src="./assets/images/icons/star-full.svg" alt="star">
                            <img src="./assets/images/icons/star-full.svg" alt="star">
                            <img src="./assets/images/icons/star-full.svg" alt="star">
                            <img src="./assets/images/icons/star-full.svg" alt="star">
                            <img src="./assets/images/icons/star-border.svg" alt="star">


                        </div>
                        <a href="#" class="feedback__slider-list-e-footer-yandex">
                            <img src="./assets/images/icons/yandex-map.svg" alt="yandex-map">
                        </a>
                    </div>
                </li>
                <li class="feedback__slider-list-e swiper-slide">
                    <div class="feedback__slider-list-e-top">
                        <p class="txt24 txt24_bold">Иван Иванов</p>
                        <p class="txt18 col-gray">24.20.24</p>
                    </div>
                    <div class="feedback__slider-list-e-body">
                        <div class="feedback__slider-list-e-body-c">
                            <p class="feedback__slider-list-e-body-c-txt txt18">
                                Добрый день! Мы обращались в эту клинику по поводу родственника. Нас приняли очень тепло
                                и

                            </p>

                        </div>

                    </div>
                    <div class="feedback__slider-list-e-footer">
                        <div class="feedback__slider-list-e-footer-stars">
                            <img src="./assets/images/icons/star-full.svg" alt="star">
                            <img src="./assets/images/icons/star-full.svg" alt="star">
                            <img src="./assets/images/icons/star-full.svg" alt="star">
                            <img src="./assets/images/icons/star-full.svg" alt="star">
                            <img src="./assets/images/icons/star-border.svg" alt="star">


                        </div>
                        <a href="#" class="feedback__slider-list-e-footer-yandex">
                            <img src="./assets/images/icons/yandex-map.svg" alt="yandex-map">
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="feedback__slider-action slider-actions ">

            <div class="slider-actions-pagin feedback-pagin">

            </div>
            <div class="slider-actions-btns">
                <button class="btn-slider btn-slider_left feedback-prev">
                    <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z">
                        </path>
                    </svg>
                </button>

                <button class="btn-slider btn-slider_right feedback-next">
                    <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z">
                        </path>
                    </svg>
                </button>
            </div>

        </div>
    </div>
</section>