<section class="five-heal">
    <div class="container five-heal__c">
        <h2 class="tl1"> <span>5 этапов</span> лечения наркомании</h2>
        <ul class="five-heal__c-list">
            <li class="five-heal__c-list-e drop-down-container ">
                <button class="five-heal__c-list-e-top drop-down-target dd-arrow dd-arrow_small">
                    <div class="five-heal__c-list-e-top-left">
                        <span class="five-heal__c-list-e-top-left-count txt24 txt24_bold">1</span>
                        <h3 class="tl3 col-bl">Бесплатная консультация</h3>
                    </div>
                    <span class="dd-arrow-icon">
                        <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z">
                            </path>
                        </svg>
                    </span>

                </button>
                <div class="five-heal__c-list-e-bottom">
                    <div class="five-heal__c-list-e-bottom-c">
                        <p class="txt18">Анонимная консультация наших врачей. Сможем помочь даже в самых безвыходных
                            ситуациях.</p>

                    </div>
                </div>
            </li>
            <li class="five-heal__c-list-e drop-down-container ">
                <button class="five-heal__c-list-e-top drop-down-target dd-arrow dd-arrow_small">
                    <div class="five-heal__c-list-e-top-left">
                        <span class="five-heal__c-list-e-top-left-count txt24 txt24_bold">2</span>
                        <h3 class="tl3 col-bl">Бесплатная консультация</h3>
                    </div>
                    <span class="dd-arrow-icon">
                        <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z">
                            </path>
                        </svg>
                    </span>

                </button>
                <div class="five-heal__c-list-e-bottom">
                    <div class="five-heal__c-list-e-bottom-c">
                        <p class="txt18">Анонимная консультация наших врачей. Сможем помочь даже в самых безвыходных
                            ситуациях.</p>

                    </div>
                </div>
            </li>
            <li class="five-heal__c-list-e drop-down-container ">
                <button class="five-heal__c-list-e-top drop-down-target dd-arrow dd-arrow_small">
                    <div class="five-heal__c-list-e-top-left">
                        <span class="five-heal__c-list-e-top-left-count txt24 txt24_bold">3</span>
                        <h3 class="tl3 col-bl">Бесплатная консультация</h3>
                    </div>
                    <span class="dd-arrow-icon">
                        <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z">
                            </path>
                        </svg>
                    </span>

                </button>
                <div class="five-heal__c-list-e-bottom">
                    <div class="five-heal__c-list-e-bottom-c">
                        <p class="txt18">Анонимная консультация наших врачей. Сможем помочь даже в самых безвыходных
                            ситуациях.</p>

                    </div>
                </div>
            </li>
            <li class="five-heal__c-list-e drop-down-container ">
                <button class="five-heal__c-list-e-top drop-down-target dd-arrow dd-arrow_small">
                    <div class="five-heal__c-list-e-top-left">
                        <span class="five-heal__c-list-e-top-left-count txt24 txt24_bold">4</span>
                        <h3 class="tl3 col-bl">Бесплатная консультация</h3>
                    </div>
                    <span class="dd-arrow-icon">
                        <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z">
                            </path>
                        </svg>
                    </span>

                </button>
                <div class="five-heal__c-list-e-bottom">
                    <div class="five-heal__c-list-e-bottom-c">
                        <p class="txt18">Анонимная консультация наших врачей. Сможем помочь даже в самых безвыходных
                            ситуациях.</p>

                    </div>
                </div>
            </li>
        </ul>
        
        <div class="five-heal__c-aside side-box">
            <div class="side-box__c">
                <p class="tl3"><strong>Убедим пациента со сниженной мотивацией</strong></p>
                <p class="txt20 col-gray">Оставьте заявку и доверьтесь профессионалам, психологи выездной службы
                    каждый день госпитализируют нескольких пациентов.</p>
                <button class="btn-primary txt24 txt24_bold modal-opener" data-modal="send-call">Оставить заявку</button>

                <img class="side-box__c-bg" src="../assets/images/circle-bg.webp" alt="bg">
            </div>
        </div>
    </div>
</section>