<section class="four-stage">
    <div class="container">
        <div class="four-stage__c">
            <h2 class="tl1 four-stage__c-head">Избавим от зависимости <span>за 4 этапа</span></h2>
            <div class="four-stage__c-items swiper">
                <ul class="four-stage__c-items-list swiper-wrapper">
                    <li class="four-stage__c-items-list-e swiper-slide">
                        <div class="four-stage__c-items-list-e-img">
                            <span class="four-stage__c-items-list-e-img-count txt24 txt24_bold">1</span>
                            <img src="./assets/images/four-stage-1.webp" alt="four stage">
                        </div>
                        <h3 class="tl3 col-bl">
                            Медицинский этап
                        </h3>
                        <p class="txt20">
                            Быстрый вывод из алкогольной или наркотической интоксикации
                        </p>
                        <p class="txt18">
                            При употреблении наркотиков или алкоголя, организм поражается различными заболеваниями. Мы
                            берём анализы, чтобы выявить нарушения работы внутренних органов.
                        </p>
                    </li>
                    <li class="four-stage__c-items-list-e swiper-slide">
                        <div class="four-stage__c-items-list-e-img">
                            <span class="four-stage__c-items-list-e-img-count txt24 txt24_bold">2</span>
                            <img src="./assets/images/four-stage-2.webp" alt="four stage">
                        </div>
                        <h3 class="tl3 col-bl">
                            Психотерапевтический этап
                        </h3>
                        <p class="txt20">
                            Решение всех проблем с целью предотвращения будущих срывов
                        </p>
                        <p class="txt18">
                            Наши психологи выявляют реальные ситуации, которые толкали зависимого на употребление,
                            устраняют все провоцирующие факторы.
                        </p>
                    </li>
                    <li class="four-stage__c-items-list-e swiper-slide">
                        <div class="four-stage__c-items-list-e-img">
                            <span class="four-stage__c-items-list-e-img-count txt24 txt24_bold">3</span>
                            <img src="./assets/images/four-stage-3.webp" alt="four stage">
                        </div>
                        <h3 class="tl3 col-bl">
                            Социальная адаптация
                        </h3>
                        <p class="txt20">
                            Возвращение к трезвой жизни
                        </p>
                        <p class="txt18">
                            Человек применяет на практике знания и навыки, полученные за время пребывания в
                            реабилитации.
                            В процессе адаптации возникают вопросы, в которых помогают разобраться наши специалисты.
                        </p>
                    </li>
                    <li class="four-stage__c-items-list-e swiper-slide">
                        <div class="four-stage__c-items-list-e-img">
                            <span class="four-stage__c-items-list-e-img-count txt24 txt24_bold">4</span>
                            <img src="./assets/images/four-stage-4.webp" alt="four stage">
                        </div>
                        <h3 class="tl3 col-bl">
                            Ресоциализация
                        </h3>
                        <p class="txt20">
                            Обучение успешной и счатсливой жизни
                        </p>
                        <p class="txt18">
                            Для закрепления результатов всех этапов лечения, человеку необходимо поделиться опытом
                            выздоровления с другими людьми, нуждающимися в этих знаниях.

                        </p>
                    </li>
                </ul>
            </div>
            <div class="four-stage__c-slider slider-actions slider-actions_mobile">

                <div class="slider-actions-pagin swiper-four-stage-pagin">
                </div>
                <div class="slider-actions-btns">
                    <button class="btn-slider btn-slider_left swiper-four-stage-prev" disabled="">
                        <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z">
                            </path>
                        </svg>
                    </button>

                    <button class="btn-slider btn-slider_right swiper-four-stage-next">
                        <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z">
                            </path>
                        </svg>
                    </button>
                </div>

            </div>
        </div>
    </div>
</section>