<section class="fulltime-banner">
    <div class="container">
        <div class="fulltime-banner__c fulltime-banner__c_rev">

            <div class="fulltime-banner__c-right">
                <h2 class="tl2">
                    Пожизненная поддержка и гарантия на курс лечения
                </h2>
                <p class="txt24 col-gray">При прохождении курса лечения выдается гарантийный сертификат. Мы уверены в качестве лечения, срыв случается не более чем у 6% резидентов.</p>
                <div class="fulltime-banner__c-right-bottom">
                    <button class="btn-primary txt24 txt24_bold modal-opener" data-modal="send-call">Оставить заявку</button>

                    <a href="tel:+88888888888" class="txt24 txt24_bold col-bl">
                        <img src="./assets/images/icons/phone-transparent.svg" alt="phone">
                        8 800 000 00 00
                    </a>
                </div>
            </div>
            <div class="fulltime-banner__c-img">
                <img src="./assets/images/life-help.webp" alt="full time banner">
            </div>
        </div>

    </div>
</section>