<section class="fulltime-banner">
    <div class="container">
        <div class="fulltime-banner__c">
            <div class="fulltime-banner__c-img">
                <img src="./assets/images/full-time-banner.webp" alt="full time banner">
            </div>
            <div class="fulltime-banner__c-right">
                <h2 class="tl2">
                    Круглосуточная наркологическая помощь
                </h2>
                <p class="txt24 col-gray">Приедем за 20 минут</p>
                <div class="fulltime-banner__c-right-bottom">
                    <button class="btn-primary txt24 txt24_bold modal-opener" data-modal="send-call">Оставить заявку</button>

                    <a href="tel:+88888888888" class="txt24 txt24_bold col-bl">
                        <img src="./assets/images/icons/phone-transparent.svg" alt="phone">
                        8 800 000 00 00
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>