<section class="hard-banner">
    <div class="container hard-banner__c">
        <div class="hard-banner__c-left">
            <h2 class="tl1">Мы понимаем, как это сложно</h2>
            <p class="txt20">Видеть страдания близкого человека. Перепробовать всё и не найти выхода. Когда близкий
                человек быстро разрушает себя, не осознавая этого. Хватается за нож, перестает спать, есть и мыться.
                Думает, что за ним следят и подслушивают...</p>
            <p class="txt20">Видеть страдания близкого человека. Перепробовать всё и не найти выхода. Когда близкий
                человек быстро разрушает себя, не осознавая этого. Хватается за нож, перестает спать, есть и мыться.
                Думает, что за ним следят и подслушивают...</p>
        </div>
        <div class="hard-banner__c-right">
            <img src="./assets/images/help-hard.png" alt="help-hard">
        </div>
    </div>
</section>