<header class="header">
    <div class="container">
        <div class="header__c">
            <button class="header__c-open-btn open-nav">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <a href="#" class="header__c-logo">
                <img src="./assets/images/icons/logo.svg" alt="narcology">
            </a>

            <button class="header__c-service btn-second open-service">
                <span class="header__c-service-text txt24 txt24_bold">Услуги</span>
                <span class="header__c-service-icon btn-second-icon">
                    <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L8 8L15 1" stroke="#4F84E0" stroke-width="2" stroke-linecap="round" />
                    </svg>

                </span>

            </button>

            <div class="header__c-list ">
                <div class="header__c-list-main">
                    <div class="header__c-list-mobile-w ">
                        <div class="header__c-list-mobile">
                            <button class="header__c-list-service dd-arrow dd-arrow_small open-service">
                                <span class="dd-arrow-text tl3">Услуги</span>
                                <span class="dd-arrow-icon">
                                    <svg width="22" height="16" viewBox="0 0 22 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z">
                                        </path>
                                    </svg>
                                </span>

                            </button>
                            <a href="#" class="tl3">Клиника</a>
                            <a href="#" class="tl3">Цены</a>
                            <a href="#" class="tl3">Специалисты</a>
                            <a href="#" class="tl3">Блог</a>
                            <a href="#" class="tl3">Контакты</a>

                            <ul class="header__c-list-mobile-contacts">
                                <li class="header__c-list-mobile-contacts-e">
                                    <span class="header__c-list-mobile-contacts-e-icon">
                                        <img src="./assets/images/icons/phone-white.svg" alt="phone">
                                    </span>
                                    <span class="txt24">8 (800) 000 00 00</span>
                                </li>
                                <li class="header__c-list-mobile-contacts-e">
                                    <span class="header__c-list-mobile-contacts-e-icon">
                                        <img src="./assets/images/icons/mail-white.svg" alt="mail">
                                    </span>
                                    <span class="txt24">forexample@.com</span>
                                </li>
                                <li class="header__c-list-mobile-contacts-e">
                                    <span class="header__c-list-mobile-contacts-e-icon">
                                        <img src="./assets/images/icons/geo-white.svg" alt="geo">
                                    </span>
                                    <span class="txt24">г. Южно-Сахалинск, ул. Пожарского, д.22</span>
                                </li>

                            </ul>
                            <div class="header__c-list-mobile-banner">
                                <p class="txt24 txt24_bold"> Бесплатная консультация! <span class="col-bl">24/7</span>
                                </p>
                                <button class=" btn-second txt24 txt24_bold modal-opener" data-modal="send-call">
                                    Оставить заявку
                                </button>

                            </div>
                        </div>
                    </div>

                    <nav class="header__c-list-nav">
                        <a href="#" class="txt20">Клиника</a>
                        <a href="#" class="txt20">Цены</a>
                        <a href="#" class="txt20">Специалисты</a>
                        <a href="#" class="txt20">Блог</a>
                        <a href="#" class="txt20">Контакты</a>
                    </nav>
                </div>
            </div>
            <div class="header__c-contacts">
                <a href="tel:+78000000000" class="header__c-phone header__c-wa">
                    
                </a>
                <a href="tel:+78000000000" class="header__c-phone">
                    <span class="header__c-phone-img">
                        <img src="./assets/images/icons/phone-white.svg" alt="phone">
                    </span>
                    <span class="header__c-phone-text col-bl txt24 txt24_bold">
                        8 800 000 00 00
                    </span>
                </a>
            </div>

            <div class="header__c-service-desk">
                <div class="header__c-service-desk-main">
                    <div class="header__c-service-desk-left">
                        <ul class="header__c-service-desk-left-list">
                            <li class="header__c-service-desk-left-list-e" data-slideto="0">
                                <img src="./assets/images/icons/complex.svg" alt="service">
                                <span class="txt24 txt24_bold">Комплексные услуги</span>
                            </li>
                            <li class="header__c-service-desk-left-list-e" data-slideto="1">
                                <img src="./assets/images/icons/alcohol.svg" alt="service">
                                <span class="txt24 txt24_bold">Алкоголизм</span>
                            </li>
                            <li class="header__c-service-desk-left-list-e" data-slideto="2">
                                <img src="./assets/images/icons/drugs.svg" alt="service">
                                <span class="txt24 txt24_bold">Наркомания</span>
                            </li>
                            <li class="header__c-service-desk-left-list-e" data-slideto="3">
                                <img src="./assets/images/icons/games.svg" alt="service">
                                <span class="txt24 txt24_bold">Игромания</span>
                            </li>
                            <li class="header__c-service-desk-left-list-e" data-slideto="4">
                                <img src="./assets/images/icons/teenage.svg" alt="service">
                                <span class="txt24 txt24_bold">Подростковая зависимость</span>
                            </li>
                            <li class="header__c-service-desk-left-list-e" data-slideto="5">
                                <img src="./assets/images/icons/drop.svg" alt="service">
                                <span class="txt24 txt24_bold">Капельница</span>
                            </li>
                            <li class="header__c-service-desk-left-list-e" data-slideto="6">
                                <img src="./assets/images/icons/diagnost.svg" alt="service">
                                <span class="txt24 txt24_bold">Диагностика и лабораторные исследования</span>
                            </li>
                        </ul>
                    </div>
                    <div class="header__c-service-desk-right">
                        <div class="header__c-service-desk-right-wrp">


                            <div class="header__c-service-desk-right-data">
                                <div class="header__c-service-desk-right-data-e">
                                    <a href="#" class="txt20">Комплексные услуги</a>
                                </div>
                                <div class="header__c-service-desk-right-data-e">
                                    <a href="#" class="txt20">Алкоголизм</a>
                                </div>
                                <div class="header__c-service-desk-right-data-e">
                                    <a href="#" class="txt20">Наркомания</a>
                                </div>
                                <div class="header__c-service-desk-right-data-e">
                                    <a href="#" class="txt20">игромания</a>
                                </div>
                                <div class="header__c-service-desk-right-data-e">
                                    <a href="#" class="txt20">подростковая</a>
                                </div>
                                <div class="header__c-service-desk-right-data-e">
                                    <a href="#" class="txt20">Капельница</a>
                                </div>
                                <div class="header__c-service-desk-right-data-e">
                                    <a href="#" class="txt20">диагностика</a>
                                </div>
                            </div>
                        </div>
                        <div class="header__c-service-desk-right-footer">
                            <p class="txt24 txt24_bold">Бесплатная консультация! <span class="col-bl">24/7</span></p>
                            <button class="btn-second txt24 txt24_bold modal-opener" data-modal="send-call">оставить
                                заявку</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header__c-service-mobile ">
                <div class="header__c-service-mobile-main">
                    <ul class="header__c-service-mobile-list">
                        <li class="header__c-service-mobile-list-e drop-down-container">
                            <button class="header__c-service-mobile-list-e-btn drop-down-target">
                                <img src="./assets/images/icons/complex.svg" alt="service">
                                <span class="txt24 txt24_bold">Комплексные услуги</span>
                                <span class="header__c-service-mobile-list-e-btn-icon">
                                    <img src="./assets/images/icons/arrow.svg" alt="V">
                                </span>
                            </button>
                            <div class="header__c-service-mobile-list-e-data">
                                <ul class="header__c-service-mobile-list-e-data-links">
                                    <li class="header__c-service-mobile-list-e-data-links-link">
                                        <a href="#" class="txt14">Кодирование от алкоголизма на дому</a>
                                    </li>
                                    <li class="header__c-service-mobile-list-e-data-links-link">
                                        <a href="#" class="txt14">Кодирование от алкоголизма на дому</a>
                                    </li>
                                    <li class="header__c-service-mobile-list-e-data-links-link">
                                        <a href="#" class="txt14">Кодирование от алкоголизма на дому</a>
                                    </li>
                                    <li class="header__c-service-mobile-list-e-data-links-link">
                                        <a href="#" class="txt14">Кодирование от алкоголизма на дому</a>
                                    </li>
                                    <li class="header__c-service-mobile-list-e-data-links-link">
                                        <a href="#" class="txt14">Кодирование от алкоголизма на дому</a>
                                    </li>
                                    <li class="header__c-service-mobile-list-e-data-links-link">
                                        <a href="#" class="txt14">Кодирование от алкоголизма на дому</a>
                                    </li>
                                    <li class="header__c-service-mobile-list-e-data-links-link">
                                        <a href="#" class="txt14">Кодирование от алкоголизма на дому</a>
                                    </li>

                                </ul>
                            </div>


                        </li>
                        <li class="header__c-service-mobile-list-e drop-down-container">
                            <button class="header__c-service-mobile-list-e-btn drop-down-target">
                                <img src="./assets/images/icons/complex.svg" alt="service">
                                <span class="txt24 txt24_bold">Комплексные услуги</span>
                                <span class="header__c-service-mobile-list-e-btn-icon">
                                    <img src="./assets/images/icons/arrow.svg" alt="V">
                                </span>
                            </button>
                            <div class="header__c-service-mobile-list-e-data">
                                <ul class="header__c-service-mobile-list-e-data-links">
                                    <li class="header__c-service-mobile-list-e-data-links-link">
                                        <a href="#" class="txt14">Кодирование от алкоголизма на дому</a>
                                    </li>
                                    <li class="header__c-service-mobile-list-e-data-links-link">
                                        <a href="#" class="txt14">Кодирование от алкоголизма на дому</a>
                                    </li>
                                    <li class="header__c-service-mobile-list-e-data-links-link">
                                        <a href="#" class="txt14">Кодирование от алкоголизма на дому</a>
                                    </li>
                                    <li class="header__c-service-mobile-list-e-data-links-link">
                                        <a href="#" class="txt14">Кодирование от алкоголизма на дому</a>
                                    </li>
                                    <li class="header__c-service-mobile-list-e-data-links-link">
                                        <a href="#" class="txt14">Кодирование от алкоголизма на дому</a>
                                    </li>
                                    <li class="header__c-service-mobile-list-e-data-links-link">
                                        <a href="#" class="txt14">Кодирование от алкоголизма на дому</a>
                                    </li>
                                    <li class="header__c-service-mobile-list-e-data-links-link">
                                        <a href="#" class="txt14">Кодирование от алкоголизма на дому</a>
                                    </li>

                                </ul>
                            </div>


                        </li>
                        <li class="header__c-service-mobile-list-e drop-down-container">
                            <button class="header__c-service-mobile-list-e-btn drop-down-target">
                                <img src="./assets/images/icons/complex.svg" alt="service">
                                <span class="txt24 txt24_bold">Комплексные услуги</span>
                                <span class="header__c-service-mobile-list-e-btn-icon">
                                    <img src="./assets/images/icons/arrow.svg" alt="V">
                                </span>
                            </button>
                            <div class="header__c-service-mobile-list-e-data">
                                <ul class="header__c-service-mobile-list-e-data-links">
                                    <li class="header__c-service-mobile-list-e-data-links-link">
                                        <a href="#" class="txt14">Кодирование от алкоголизма на дому</a>
                                    </li>
                                    <li class="header__c-service-mobile-list-e-data-links-link">
                                        <a href="#" class="txt14">Кодирование от алкоголизма на дому</a>
                                    </li>
                                    <li class="header__c-service-mobile-list-e-data-links-link">
                                        <a href="#" class="txt14">Кодирование от алкоголизма на дому</a>
                                    </li>
                                    <li class="header__c-service-mobile-list-e-data-links-link">
                                        <a href="#" class="txt14">Кодирование от алкоголизма на дому</a>
                                    </li>
                                    <li class="header__c-service-mobile-list-e-data-links-link">
                                        <a href="#" class="txt14">Кодирование от алкоголизма на дому</a>
                                    </li>
                                    <li class="header__c-service-mobile-list-e-data-links-link">
                                        <a href="#" class="txt14">Кодирование от алкоголизма на дому</a>
                                    </li>
                                    <li class="header__c-service-mobile-list-e-data-links-link">
                                        <a href="#" class="txt14">Кодирование от алкоголизма на дому</a>
                                    </li>

                                </ul>
                            </div>


                        </li>


                    </ul>
                </div>
            </div>

        </div>
    </div>
</header>