<section class="heal-stage">
    <div class="container heal-stage__c">
        <h2 class="tl1">Этапы реабилитации в центре</h2>
        <div class="heal-stage__c-top">
            <button class="heal-stage__c-top-btn txt24 txt24_bold heal-stage__c-top-btn_active" data-slideto="0">Этап:
                подготовительный</button>
            <button class="heal-stage__c-top-btn txt24 txt24_bold" data-slideto="1">Этап: базовый</button>
            <button class="heal-stage__c-top-btn txt24 txt24_bold" data-slideto="2">Этап: социальная адаптация</button>
        <div class="heal-stage__c-top-indication">
            <span class="heal-stage__c-top-indication-line"></span>
        </div>
        </div>
        <div class="heal-stage__c-slider swiper">
            <ul class="heal-stage__c-slider-list swiper-wrapper">
                <li class="heal-stage__c-slider-list-slide swiper-slide  ">
                    <div class="heal-stage__c-slider-list-slide-e drop-down-container">
                        <button class="heal-stage__c-slider-list-slide-e-target dd-arrow drop-down-target">
                            <span class="heal-stage__c-slider-list-slide-e-target-left">
                                <span class="heal-stage__c-slider-list-slide-e-target-left-icon">
                                    <img src="../assets/images/icons/user-white.svg" alt="user">
                                </span>
                                <p class="txt24 txt24_bold">Проблемы пациента</p>
                                <p class="txt20 col-gray">Факторы зависимости</p>

                            </span>
                            <span class="dd-arrow-icon">
                                <svg width="22" height="16" viewBox="0 0 22 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z">
                                    </path>
                                </svg>
                            </span>

                        </button>
                        <div class="heal-stage__c-slider-list-slide-e-bottom">
                            <div class="heal-stage__c-slider-list-slide-e-bottom-c">
                                <ul class="marked-list">
                                    <li class="marked-list-e txt20 col-gray">
                                        <img src="../assets/images/icons/dot.svg" alt="dot">
                                        После выхода из реабилитационного центра пациент адаптируется к жизни в социуме
                                    </li>
                                    <li class="marked-list-e txt20 col-gray">
                                        <img src="../assets/images/icons/dot.svg" alt="dot">
                                        Трудоустраивается, либо продолжает обучение
                                    </li>
                                    <li class="marked-list-e txt20 col-gray">
                                        <img src="../assets/images/icons/dot.svg" alt="dot">
                                        Также он находится на сопровождении психолога и посещает групповые и
                                        индивидуальные занятия в городе
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="heal-stage__c-slider-list-slide-e drop-down-container">
                        <button class="heal-stage__c-slider-list-slide-e-target dd-arrow drop-down-target">
                            <span class="heal-stage__c-slider-list-slide-e-target-left">
                                <span class="heal-stage__c-slider-list-slide-e-target-left-icon">
                                    <img src="../assets/images/icons/user-white.svg" alt="user">
                                </span>
                                <p class="txt24 txt24_bold">Проблемы пациента</p>
                                <p class="txt20 col-gray">Факторы зависимости</p>

                            </span>
                            <span class="dd-arrow-icon">
                                <svg width="22" height="16" viewBox="0 0 22 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z">
                                    </path>
                                </svg>
                            </span>

                        </button>
                        <div class="heal-stage__c-slider-list-slide-e-bottom">
                            <div class="heal-stage__c-slider-list-slide-e-bottom-c">
                                <ul class="marked-list">
                                    <li class="marked-list-e txt20 col-gray">
                                        <img src="../assets/images/icons/dot.svg" alt="dot">
                                        После выхода из реабилитационного центра пациент адаптируется к жизни в социуме
                                    </li>
                                    <li class="marked-list-e txt20 col-gray">
                                        <img src="../assets/images/icons/dot.svg" alt="dot">
                                        Трудоустраивается, либо продолжает обучение
                                    </li>
                                    <li class="marked-list-e txt20 col-gray">
                                        <img src="../assets/images/icons/dot.svg" alt="dot">
                                        Также он находится на сопровождении психолога и посещает групповые и
                                        индивидуальные занятия в городе
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="heal-stage__c-slider-list-slide swiper-slide  ">
                    <div class="heal-stage__c-slider-list-slide-e drop-down-container">
                        <button class="heal-stage__c-slider-list-slide-e-target dd-arrow drop-down-target">
                            <span class="heal-stage__c-slider-list-slide-e-target-left">
                                <span class="heal-stage__c-slider-list-slide-e-target-left-icon">
                                    <img src="../assets/images/icons/user-white.svg" alt="user">
                                </span>
                                <p class="txt24 txt24_bold">Этап: базовый</p>
                                <p class="txt20 col-gray">второй слайд</p>

                            </span>
                            <span class="dd-arrow-icon">
                                <svg width="22" height="16" viewBox="0 0 22 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z">
                                    </path>
                                </svg>
                            </span>

                        </button>
                        <div class="heal-stage__c-slider-list-slide-e-bottom">
                            <div class="heal-stage__c-slider-list-slide-e-bottom-c">
                                <ul class="marked-list">
                                    <li class="marked-list-e txt20 col-gray">
                                        <img src="../assets/images/icons/dot.svg" alt="dot">
                                        После выхода из реабилитационного центра пациент адаптируется к жизни в социуме
                                    </li>
                                    <li class="marked-list-e txt20 col-gray">
                                        <img src="../assets/images/icons/dot.svg" alt="dot">
                                        Трудоустраивается, либо продолжает обучение
                                    </li>
                                    <li class="marked-list-e txt20 col-gray">
                                        <img src="../assets/images/icons/dot.svg" alt="dot">
                                        Также он находится на сопровождении психолога и посещает групповые и
                                        индивидуальные занятия в городе
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="heal-stage__c-slider-list-slide-e drop-down-container">
                        <button class="heal-stage__c-slider-list-slide-e-target dd-arrow drop-down-target">
                            <span class="heal-stage__c-slider-list-slide-e-target-left">
                                <span class="heal-stage__c-slider-list-slide-e-target-left-icon">
                                    <img src="../assets/images/icons/user-white.svg" alt="user">
                                </span>
                                <p class="txt24 txt24_bold">Проблемы пациента</p>
                                <p class="txt20 col-gray">Факторы зависимости</p>

                            </span>
                            <span class="dd-arrow-icon">
                                <svg width="22" height="16" viewBox="0 0 22 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z">
                                    </path>
                                </svg>
                            </span>

                        </button>
                        <div class="heal-stage__c-slider-list-slide-e-bottom">
                            <div class="heal-stage__c-slider-list-slide-e-bottom-c">
                                <ul class="marked-list">
                                    <li class="marked-list-e txt20 col-gray">
                                        <img src="../assets/images/icons/dot.svg" alt="dot">
                                        После выхода из реабилитационного центра пациент адаптируется к жизни в социуме
                                    </li>
                                    <li class="marked-list-e txt20 col-gray">
                                        <img src="../assets/images/icons/dot.svg" alt="dot">
                                        Трудоустраивается, либо продолжает обучение
                                    </li>
                                    <li class="marked-list-e txt20 col-gray">
                                        <img src="../assets/images/icons/dot.svg" alt="dot">
                                        Также он находится на сопровождении психолога и посещает групповые и
                                        индивидуальные занятия в городе
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="heal-stage__c-slider-list-slide swiper-slide  ">
                    <div class="heal-stage__c-slider-list-slide-e drop-down-container">
                        <button class="heal-stage__c-slider-list-slide-e-target dd-arrow drop-down-target">
                            <span class="heal-stage__c-slider-list-slide-e-target-left">
                                <span class="heal-stage__c-slider-list-slide-e-target-left-icon">
                                    <img src="../assets/images/icons/user-white.svg" alt="user">
                                </span>
                                <p class="txt24 txt24_bold">Этап: социальная адаптация</p>
                                <p class="txt20 col-gray">третий слайд</p>

                            </span>
                            <span class="dd-arrow-icon">
                                <svg width="22" height="16" viewBox="0 0 22 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z">
                                    </path>
                                </svg>
                            </span>

                        </button>
                        <div class="heal-stage__c-slider-list-slide-e-bottom">
                            <div class="heal-stage__c-slider-list-slide-e-bottom-c">
                                <ul class="marked-list">
                                    <li class="marked-list-e txt20 col-gray">
                                        <img src="../assets/images/icons/dot.svg" alt="dot">
                                        После выхода из реабилитационного центра пациент адаптируется к жизни в социуме
                                    </li>
                                    <li class="marked-list-e txt20 col-gray">
                                        <img src="../assets/images/icons/dot.svg" alt="dot">
                                        Трудоустраивается, либо продолжает обучение
                                    </li>
                                    <li class="marked-list-e txt20 col-gray">
                                        <img src="../assets/images/icons/dot.svg" alt="dot">
                                        Также он находится на сопровождении психолога и посещает групповые и
                                        индивидуальные занятия в городе
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="heal-stage__c-slider-list-slide-e drop-down-container">
                        <button class="heal-stage__c-slider-list-slide-e-target dd-arrow drop-down-target">
                            <span class="heal-stage__c-slider-list-slide-e-target-left">
                                <span class="heal-stage__c-slider-list-slide-e-target-left-icon">
                                    <img src="../assets/images/icons/user-white.svg" alt="user">
                                </span>
                                <p class="txt24 txt24_bold">Проблемы пациента</p>
                                <p class="txt20 col-gray">Факторы зависимости</p>

                            </span>
                            <span class="dd-arrow-icon">
                                <svg width="22" height="16" viewBox="0 0 22 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z">
                                    </path>
                                </svg>
                            </span>

                        </button>
                        <div class="heal-stage__c-slider-list-slide-e-bottom">
                            <div class="heal-stage__c-slider-list-slide-e-bottom-c">
                                <ul class="marked-list">
                                    <li class="marked-list-e txt20 col-gray">
                                        <img src="../assets/images/icons/dot.svg" alt="dot">
                                        После выхода из реабилитационного центра пациент адаптируется к жизни в социуме
                                    </li>
                                    <li class="marked-list-e txt20 col-gray">
                                        <img src="../assets/images/icons/dot.svg" alt="dot">
                                        Трудоустраивается, либо продолжает обучение
                                    </li>
                                    <li class="marked-list-e txt20 col-gray">
                                        <img src="../assets/images/icons/dot.svg" alt="dot">
                                        Также он находится на сопровождении психолога и посещает групповые и
                                        индивидуальные занятия в городе
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</section>