<section class="individ-banner">
    <div class="container ">
        <div class="individ-banner__c">
            <div class="individ-banner__c-top">
                <h2 class="tl2">Индивидуальный подход!</h2>
                <p class="col-gray txt20">Лечение игромании в нашей клинике проходит отдельно от химически зависимых
                    людей.
                </p>
            </div>
            <a class="individ-banner__c-phone txt24 txt24_bold col-bl" href="tel:80000000">
                <img src="./assets/images/icons/phone-transparent.svg" alt="phone">
                8 800 000 00 00
            </a>
            <button class="btn-primary txt24 txt24_bold modal-opener" data-modal="send-call">
                Оставить заявку
            </button>
            <img class="individ-banner__c-bg" src="./assets/images/circle-bg.webp" alt="circle">
        </div>

    </div>
</section>