<section class="main-heading">
    <div class="container">
        <div class="main-heading__c">
            <div class="main-heading__c-left">
                <p class="txt24 txt24_bold main-heading__c-left-heading">Научный подход в лечении</p>
                <h1 class="tl1 main-heading__c-left-head">
                    Наркологическая клиника в <span class="col-bl ">Южно-Сахалинске</span>
                </h1>
                <p class="txt24">Индивидуальный подход и подбор программы лечения каждому пациенту, отвественный
                    медперсонал.</p>
                <div class="main-heading__c-left-btns">
                    <button class="btn-primary modal-opener" data-modal="send-call">
                        <span class="txt24 txt24_bold"> Экстренная помощь</span>
                    </button>
                    <button class="btn-second modal-opener" data-modal="send-call">
                        <span class="txt24 txt24_bold">Оставить заявку</span>
                    </button>
                </div>
            </div>
            <div class="main-heading__c-right">
                <div class="main-heading__c-right-img">
                    <img src="./assets/images/heading-main.webp" alt="hading">
                </div>

                <div class="main-heading__c-right-slider ">
                    <div class="main-heading__c-right-slider-wrp swiper ">
                        <ul class="main-heading__c-right-slider-list swiper-wrapper">
                            <li class="main-heading__c-right-slider-list-el swiper-slide">
                                <button class="main-heading__c-right-slider-list-el-btn">
                                    <img src="./assets/images/icons/phone-transparent.svg" alt="phone">
                                </button>
                                <p class="col-bl txt24 txt24_bold">Бесплатная консультация</p>
                                <p class="txt18">Свяжитесь с нами и вы успеете спасти близкого человека</p>
                            </li>
                            <li class="main-heading__c-right-slider-list-el swiper-slide">
                                <button class="main-heading__c-right-slider-list-el-btn">
                                    <img src="./assets/images/icons/phone-transparent.svg" alt="phone">
                                </button>
                                <p class="col-bl txt24 txt24_bold">Бесплатная консультация</p>
                                <p class="txt18">Свяжитесь с нами и вы успеете спасти близкого человека</p>
                            </li>
                            <li class="main-heading__c-right-slider-list-el swiper-slide">
                                <button class="main-heading__c-right-slider-list-el-btn">
                                    <img src="./assets/images/icons/phone-transparent.svg" alt="phone">
                                </button>
                                <p class="col-bl txt24 txt24_bold">Бесплатная консультация</p>
                                <p class="txt18">Свяжитесь с нами и вы успеете спасти близкого человека</p>
                            </li>
                        </ul>
               
                    </div>
                    <div class="main-heading__c-right-slider-actions ">
                        <div class="slider-actions-pagin main-heading-pagination">
                       
                        </div>
                        <div class="main-heading__c-right-slider-actions-btns">
                            <button class="main-heading__c-right-slider-actions-btns-e main-heading-button-prev swiper-left-btn swiper-btn">
                                <svg width="27" height="16" viewBox="0 0 27 16" fill="#2D2D33"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M25.5 9C26.0523 9 26.5 8.55228 26.5 8C26.5 7.44772 26.0523 7 25.5 7L25.5 9ZM0.792893 7.29289C0.402369 7.68342 0.402369 8.31658 0.792892 8.7071L7.15685 15.0711C7.54738 15.4616 8.18054 15.4616 8.57107 15.0711C8.96159 14.6805 8.96159 14.0474 8.57107 13.6569L2.91421 8L8.57107 2.34314C8.96159 1.95262 8.96159 1.31946 8.57107 0.928931C8.18054 0.538406 7.54738 0.538406 7.15686 0.928931L0.792893 7.29289ZM25.5 7L1.5 7L1.5 9L25.5 9L25.5 7Z" />
                                </svg>

                            </button>

                            <button class="main-heading__c-right-slider-actions-btns-e main-heading-button-next swiper-right-btn swiper-btn">
                                <svg width="27" height="16" viewBox="0 0 27 16" fill="#2D2D33"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1.5 7C0.947715 7 0.5 7.44772 0.5 8C0.5 8.55228 0.947715 9 1.5 9V7ZM26.2071 8.70711C26.5976 8.31658 26.5976 7.68342 26.2071 7.29289L19.8431 0.928932C19.4526 0.538408 18.8195 0.538408 18.4289 0.928932C18.0384 1.31946 18.0384 1.95262 18.4289 2.34315L24.0858 8L18.4289 13.6569C18.0384 14.0474 18.0384 14.6805 18.4289 15.0711C18.8195 15.4616 19.4526 15.4616 19.8431 15.0711L26.2071 8.70711ZM1.5 9L25.5 9V7L1.5 7V9Z" />
                                </svg>

                            </button>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</section>