<section class="methods">
    <div class="container">
        <div class="methods__c">
            <div class="methods__c-top">
                <h2 class="tl1">Методы лечения</h2>
                <a href="#" class="btn-second txt24 txt24_bold">
                    Услуги
                </a>
            </div>
            <ul class="methods__c-list">
                <li class="methods__c-list-e">

                    <div class="methods__c-list-e-img">
                        <img src="./assets/images/icons/Check.svg" alt="V">
                    </div>
                    <p class="txt20">
                        Когнитивно-поведенческая терапия
                    </p>
                </li>
                <li class="methods__c-list-e">
                    <div class="methods__c-list-e-img">
                        <img src="./assets/images/icons/Check.svg" alt="V">
                    </div>

                    <p class="txt20">
                        Гештальт-терапия
                    </p>
                </li>
                <li class="methods__c-list-e">
                    <div class="methods__c-list-e-img">
                        <img src="./assets/images/icons/Check.svg" alt="V">
                    </div>
                    <p class="txt20">
                        Тесты для выявления депрессивных расстройств
                    </p>
                </li>
                <li class="methods__c-list-e">
                    <div class="methods__c-list-e-img">
                        <img src="./assets/images/icons/Check.svg" alt="V">
                    </div>
                    <p class="txt20">
                        Тест MMPI
                    </p>
                </li>
                <li class="methods__c-list-e">
                    <div class="methods__c-list-e-img">
                        <img src="./assets/images/icons/Check.svg" alt="V">
                    </div>
                    <p class="txt20">
                        Патопсихологическое исследование
                    </p>
                </li>
                <li class="methods__c-list-e">
                    <div class="methods__c-list-e-img">
                        <img src="./assets/images/icons/Check.svg" alt="V">
                    </div>
                    <p class="txt20">
                        Тест Роршаха
                    </p>
                </li>
                <li class="methods__c-list-e">
                    <div class="methods__c-list-e-img">
                        <img src="./assets/images/icons/Check.svg" alt="V">
                    </div>
                    <p class="txt20">
                        Арт-терапия
                    </p>
                </li>
            </ul>

        </div>

    </div>
</section>