<div class="modal modal-success modal-closer">
    <div class="modal-main  modal-closer">
        <div class="modal-c-wrp">
            <div class="modal__c">
                <button class="modal__c-close modal-closer">
                </button>
                <div class="modal__c-left modal__c-left_thx">
                    <h2 class="tl1">Заявка отправлена!</h2>
                    <p class="txt20 col-gray">Спасибо, что оставили заявку. Наши специалисты свяжутся с Вами в течении
                        пяти минут</p>


                </div>
                <div class="modal__c-right modal__c-right_thx">
                    <div class="modal__c-right-img">
                        <img src="./assets/images/service-heading.webp" alt="heading">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>