<div class="modal modal-send-call ">
    <div class="modal-main  modal-closer">
        <div class="modal-c-wrp">
            <div class="modal__c">
                <button class="modal__c-close modal-closer">
                </button>
                <div class="modal__c-left">
                    <h2 class="tl1">Оставьте заявку!</h2>
                    <p class="txt20">Врач соберет анамнез и поможет подобрать лечение</p>

                    <form class="modal__c-left-form form" novalidate>
                        <label class="form-input-txt form-input">
                            <input type="text" class="form-input-txt-el txt20" autocomplete="off" name="name"
                                data-required="true" placeholder="имя">
                            <span class="form-input-txt-error txt14"></span>
                        </label>
                        <label class="form-input-txt form-input">
                            <input type="text" class="form-input-txt-el txt20" autocomplete="off" name="phone"
                                placeholder="номер телефона" data-required="true">
                            <span class="form-input-txt-error txt14"></span>
                        </label>
                        <label class="form-input-txt form-input modal__c-left-form-row ">
                            <input type="text" class="form-input-txt-el txt20" autocomplete="off" name="message"
                                maxlength="50" placeholder="ваше сообщение (не обязательно)">
                            <span class="form-input-txt-error txt14"></span>
                        </label>
                        <label class="form-input form-check modal__c-left-form-row">
                            <input class="form-check-input" name="policy" type="checkbox" data-required="true">
                            <span class="form-check-icon">
                                <svg width="14" height="10" viewBox="0 0 14 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 3.33333L5.8 8L13 1" stroke="#4F84E0" stroke-width="2"
                                        stroke-linecap="round" />
                                </svg>
                            </span>
                            Отправляя форму, вы соглашаетесь с политикой конфиденциальности
                        </label>

                        <button type="submit" class="btn-primary txt24 txt24_bold">Отправить</button>
                    </form>
                </div>
                <div class="modal__c-right">
                    <div class="modal__c-right-img">
                        <img src="./assets/images/service-heading.webp" alt="heading">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>