<section class="motivation-banner">
    <div class="container">
        <div class="motivation-banner__c">
            <div class="motivation-banner__c-img">
                <img src="./assets/images/motivation-banner.webp" alt="motivation banner">
            </div>
            <div class="motivation-banner__c-right">
                <h2 class="tl2">Убедим пациента со сниженной мотивацией</h2>
                <p class="txt24 col-gray">Оставьте заявку и доверьтесь профессионалам, психологи выездной службы каждый
                    день госпитализируют нескольких пациентов.</p>
                <button class="btn-primary txt24 txt24_bold modal-opener" data-modal="send-call">
                    Оставить заявку
                </button>
            </div>
        </div>

    </div>
</section>