<section class="must-detox">
    <div class="container must-detox__c">
        <div class="must-detox__c-left side-box">
            <div class="side-box__c">
                <p class="tl3"><strong>Получите бесплатную консультацию</strong></p>
                <p class="txt20 col-gray">Врач соберет анамнез и поможет подобрать лечение</p>
                <span class="side-box__c-phone txt24 txt24_bold col-bl">
                    <img src="./assets/images/icons/phone-transparent.svg" alt="clal">
                    8 800 000 00 00
                </span>
                <button class="btn-primary txt24 txt24_bold modal-opener" data-modal="send-call">Оставить заявку</button>
                <img class="side-box__c-bg" src="./assets/images/circle-bg.webp" alt="bg">
            </div>

        </div>
        <div class="must-detox__c-right">
            <h2 class="tl1">Показания к детоксикации наркомана</h2>
            <p class="txt20">Детоксикация от наркотиков направлена на очищение организма от продуктов распада
                запрещенных веществ. Метод помогает справиться с наркозависимостью на физическом уровне. Адекватно
                подобранная схема детоксикационной терапии нормализует все физиологические функции жизненно важных
                органов и систем, на фоне чего они могут полноценно работать дальше без поступления очередной дозы
                наркотического вещества</p>
       
            <ul class="marked-list">
                <li class="marked-list-e txt20 col-gray">
                  
                    Передозировка наркотиков;
                </li>

            </ul>
        </div>
    </div>
</section>