<section class="need-clear">
    <div class="container">
        <h2 class="tl1"> Когда нужна чистка</h2>
        <div class="need-clear__c">
            <ul class="need-clear__c-left checked-list">
                <li class="checked-list__e">
                    <span class="checked-list__e-img">
                        <img src="./assets/images/icons/Check.svg" alt="v">
                    </span>
                    <span class="checked-list__e-text txt20">При резком повышении давления, появлении тремора
                        конечностей, судорог и других опасных симптомов;</span>
                </li>
                <li class="checked-list__e">
                    <span class="checked-list__e-img">
                        <img src="./assets/images/icons/Check.svg" alt="v">
                    </span>
                    <span class="checked-list__e-text txt20">За время процедуры плазма крови
                        полностью очищается от метаболитов
                        наркотиков.</span>
                </li>
                <li class="checked-list__e">
                    <span class="checked-list__e-img">
                        <img src="./assets/images/icons/Check.svg" alt="v">
                    </span>
                    <span class="checked-list__e-text txt20">За время процедуры плазма крови
                        полностью очищается от метаболитов
                        наркотиков.</span>
                </li>
                <li class="checked-list__e">
                    <span class="checked-list__e-img">
                        <img src="./assets/images/icons/Check.svg" alt="v">
                    </span>
                    <span class="checked-list__e-text txt20">За время процедуры плазма крови
                        полностью очищается от метаболитов
                        наркотиков.</span>
                </li>
                <li class="checked-list__e">
                    <span class="checked-list__e-img">
                        <img src="./assets/images/icons/Check.svg" alt="v">
                    </span>
                    <span class="checked-list__e-text txt20">За время процедуры плазма крови
                        полностью очищается от метаболитов
                        наркотиков.</span>
                </li>
                <li class="checked-list__e">
                    <span class="checked-list__e-img">
                        <img src="./assets/images/icons/Check.svg" alt="v">
                    </span>
                    <span class="checked-list__e-text txt20">За время процедуры плазма крови
                        полностью очищается от метаболитов
                        наркотиков.</span>
                </li>
            </ul>
            <div class="need-clear__c-right side-box">
                <div class="side-box__c">
                    <p class="tl3"><strong>Убедим пациента со сниженной мотивацией</strong></p>
                    <p class="txt20 col-gray">Оставьте заявку и доверьтесь профессионалам, психологи выездной службы
                        каждый день госпитализируют нескольких пациентов.</p>
                    <button class="btn-primary txt24 txt24_bold modal-opener" data-modal="send-call">Оставить заявку</button>

                    <img class="side-box__c-bg" src="./assets/images/circle-bg.webp" alt="bg">
                </div>
            </div>
        </div>
</section>