<section class="prices">
    <div class="container">
        <div class="prices__c">
            <div class="prices__c-top">
                <h2 class="tl1">Цена на услуги</h2>
                <a href="#" class="prices__c-top-link btn-second txt24 txt24_bold">Смотреть прайс-лист</a>
            </div>

            <ul class="prices__c-list">
                <li class="prices__c-list-e drop-down-container">
                    <button class="prices__c-list-e-target drop-down-target dd-arrow">

                        <p class="txt24 txt24_bold">Детоксикация при алкоголизме</p>
                        <div class="prices__c-list-e-target-price price">
                            <p class="price-context">от</p>
                            <p class="price-data">2 900</p>
                            <p class="price-context">сутки</p>
                        </div>


                        <span class="dd-arrow-icon">
                            <svg width="22" height="16" viewBox="0 0 22 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z" />
                            </svg>
                        </span>

                    </button>

                    <div class="prices__c-list-e-info">
                        <div class="prices__c-list-e-info-w">
                            <p class="txt20">
                                Современные методы лечения, все виды лабораторно-диагностических исследований.
                                Под круглосуточным наблюдением специалистов мы проведем все необходимые обследования и
                                восстановим организм.
                            </p>
                            <p class="prices__c-list-e-info-heading">В программу входит:</p>
                            <ul class="prices__c-list-e-info-list">
                                <li class="prices__c-list-e-info-list-e txt20">
                                    <span class="prices__c-list-e-info-list-e-circle"></span>
                                    Размещение в общих 2-х местных палатах
                                </li>
                                <li class="prices__c-list-e-info-list-e txt20">
                                    <span class="prices__c-list-e-info-list-e-circle"></span>
                                    Консультации и обследование специалистами
                                </li>
                                <li class="prices__c-list-e-info-list-e txt20">
                                    <span class="prices__c-list-e-info-list-e-circle"></span>
                                    Подбор индивидуального плана лечения, работа с родными
                                </li>
                                <li class="prices__c-list-e-info-list-e txt20">
                                    <span class="prices__c-list-e-info-list-e-circle"></span>
                                    Проведение процедуры по детоксикации
                                </li>

                                <li class="prices__c-list-e-info-list-e txt20">
                                    <span class="prices__c-list-e-info-list-e-circle"></span>
                                    Трехразовое диетическое питание
                                </li>
                                <li class="prices__c-list-e-info-list-e txt20">
                                    <span class="prices__c-list-e-info-list-e-circle"></span>
                                    Рекомендации и дополнительные назначения
                                </li>
                            </ul>

                            <button class="prices__c-list-e-info-btn btn-primary txt24 txt24_bold modal-opener "  data-modal="send-call">
                                Записаться
                            </button>
                        </div>
                    </div>
                </li>
                <li class="prices__c-list-e  drop-down-container">
                    <button class="prices__c-list-e-target drop-down-target dd-arrow">

                        <p class="txt24 txt24_bold">Детоксикация при алкоголизме</p>
                        <div class="prices__c-list-e-target-price price">
                            <p class="price-context">от</p>
                            <p class="price-data">2 900</p>
                            <p class="price-context">сутки</p>
                        </div>


                        <span class="dd-arrow-icon">
                            <svg width="22" height="16" viewBox="0 0 22 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z" />
                            </svg>
                        </span>

                    </button>

                    <div class="prices__c-list-e-info">
                        <div class="prices__c-list-e-info-w">
                            <p class="txt20">
                                Современные методы лечения, все виды лабораторно-диагностических исследований.
                                Под круглосуточным наблюдением специалистов мы проведем все необходимые обследования и
                                восстановим организм.
                            </p>
                            <p class="prices__c-list-e-info-heading">В программу входит:</p>
                            <ul class="prices__c-list-e-info-list">
                                <li class="prices__c-list-e-info-list-e txt20">
                                    <span class="prices__c-list-e-info-list-e-circle"></span>
                                    Размещение в общих 2-х местных палатах
                                </li>
                                <li class="prices__c-list-e-info-list-e txt20">
                                    <span class="prices__c-list-e-info-list-e-circle"></span>
                                    Консультации и обследование специалистами
                                </li>
                                <li class="prices__c-list-e-info-list-e txt20">
                                    <span class="prices__c-list-e-info-list-e-circle"></span>
                                    Подбор индивидуального плана лечения, работа с родными
                                </li>
                                <li class="prices__c-list-e-info-list-e txt20">
                                    <span class="prices__c-list-e-info-list-e-circle"></span>
                                    Проведение процедуры по детоксикации
                                </li>

                                <li class="prices__c-list-e-info-list-e txt20">
                                    <span class="prices__c-list-e-info-list-e-circle"></span>
                                    Трехразовое диетическое питание
                                </li>
                                <li class="prices__c-list-e-info-list-e txt20">
                                    <span class="prices__c-list-e-info-list-e-circle"></span>
                                    Рекомендации и дополнительные назначения
                                </li>
                            </ul>

                            <button class="prices__c-list-e-info-btn btn-primary txt24 txt24_bold modal-opener" data-modal="send-call">
                                Записаться
                            </button>
                        </div>
                    </div>
                </li>
                <li class="prices__c-list-e drop-down-container">
                    <button class="prices__c-list-e-target drop-down-target dd-arrow">

                        <p class="txt24 txt24_bold">Детоксикация при алкоголизме</p>
                        <div class="prices__c-list-e-target-price price">
                            <p class="price-context">от</p>
                            <p class="price-data">2 900</p>
                            <p class="price-context">сутки</p>
                        </div>


                        <span class="dd-arrow-icon">
                            <svg width="22" height="16" viewBox="0 0 22 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z" />
                            </svg>
                        </span>

                    </button>

                    <div class="prices__c-list-e-info">
                        <div class="prices__c-list-e-info-w">
                            <p class="txt20">
                                Современные методы лечения, все виды лабораторно-диагностических исследований.
                                Под круглосуточным наблюдением специалистов мы проведем все необходимые обследования и
                                восстановим организм.
                            </p>
                            <p class="prices__c-list-e-info-heading">В программу входит:</p>
                            <ul class="prices__c-list-e-info-list">
                                <li class="prices__c-list-e-info-list-e txt20">
                                    <span class="prices__c-list-e-info-list-e-circle"></span>
                                    Размещение в общих 2-х местных палатах
                                </li>
                                <li class="prices__c-list-e-info-list-e txt20">
                                    <span class="prices__c-list-e-info-list-e-circle"></span>
                                    Консультации и обследование специалистами
                                </li>
                                <li class="prices__c-list-e-info-list-e txt20">
                                    <span class="prices__c-list-e-info-list-e-circle"></span>
                                    Подбор индивидуального плана лечения, работа с родными
                                </li>
                                <li class="prices__c-list-e-info-list-e txt20">
                                    <span class="prices__c-list-e-info-list-e-circle"></span>
                                    Проведение процедуры по детоксикации
                                </li>

                                <li class="prices__c-list-e-info-list-e txt20">
                                    <span class="prices__c-list-e-info-list-e-circle"></span>
                                    Трехразовое диетическое питание
                                </li>
                                <li class="prices__c-list-e-info-list-e txt20">
                                    <span class="prices__c-list-e-info-list-e-circle"></span>
                                    Рекомендации и дополнительные назначения
                                </li>
                            </ul>

                            <button class="prices__c-list-e-info-btn btn-primary txt24 txt24_bold modal-opener" data-modal="send-call">
                                Записаться
                            </button>
                        </div>
                    </div>
                </li>
                <li class="prices__c-list-e  drop-down-container">
                    <button class="prices__c-list-e-target drop-down-target dd-arrow">

                        <p class="txt24 txt24_bold">Детоксикация при алкоголизме</p>
                        <div class="prices__c-list-e-target-price price">
                            <p class="price-context">от</p>
                            <p class="price-data">2 900</p>
                            <p class="price-context">сутки</p>
                        </div>


                        <span class="dd-arrow-icon">
                            <svg width="22" height="16" viewBox="0 0 22 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z" />
                            </svg>
                        </span>

                    </button>

                    <div class="prices__c-list-e-info">
                        <div class="prices__c-list-e-info-w">
                            <p class="txt20">
                                Современные методы лечения, все виды лабораторно-диагностических исследований.
                                Под круглосуточным наблюдением специалистов мы проведем все необходимые обследования и
                                восстановим организм.
                            </p>
                            <p class="prices__c-list-e-info-heading">В программу входит:</p>
                            <ul class="prices__c-list-e-info-list">
                                <li class="prices__c-list-e-info-list-e txt20">
                                    <span class="prices__c-list-e-info-list-e-circle"></span>
                                    Размещение в общих 2-х местных палатах
                                </li>
                                <li class="prices__c-list-e-info-list-e txt20">
                                    <span class="prices__c-list-e-info-list-e-circle"></span>
                                    Консультации и обследование специалистами
                                </li>
                                <li class="prices__c-list-e-info-list-e txt20">
                                    <span class="prices__c-list-e-info-list-e-circle"></span>
                                    Подбор индивидуального плана лечения, работа с родными
                                </li>
                                <li class="prices__c-list-e-info-list-e txt20">
                                    <span class="prices__c-list-e-info-list-e-circle"></span>
                                    Проведение процедуры по детоксикации
                                </li>

                                <li class="prices__c-list-e-info-list-e txt20">
                                    <span class="prices__c-list-e-info-list-e-circle"></span>
                                    Трехразовое диетическое питание
                                </li>
                                <li class="prices__c-list-e-info-list-e txt20">
                                    <span class="prices__c-list-e-info-list-e-circle"></span>
                                    Рекомендации и дополнительные назначения
                                </li>
                            </ul>

                            <button class="prices__c-list-e-info-btn btn-primary txt24 txt24_bold modal-opener" data-modal="send-call">
                                Записаться
                            </button>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="prices__c-right">
                <div class="prices__c-right-c">
                    <img class="prices__c-right-c-img" src="./assets/images/icons/chat.svg" alt="chat">
                    <div class="prices__c-right-c-top">
                        <p class="txt20">Наши специалисты ответят на интересующие Вас вопросы по номеру:</p>
                        <a href="tel:+78000000000" class="col-bl txt24 txt24_bold prices__c-right-c-top-num ">8 800 000 00
                            00</a>
                    </div>
                    <div class="prices__c-right-c-bottom">
                        <p class="txt20">Или закажите звонок</p>
                        <button class="btn-primary txt24 txt24_bold modal-opener" data-modal="send-call">
                            Бесплатная консультация
                        </button>
                    </div>
                </div>

            </div>

        </div>
</section>