<section class="program-target">
    <div class="container">
        <h2 class="tl1">Цели программы реабилитации</h2>
        <div class="program-target__slider swiper">
            <ul class="program-target__slider-list swiper-wrapper">
                <li class="program-target__slider-list-e swiper-slide">
                    <span class="program-target__slider-list-e-count txt24 txt24_bold">1</span>
                    <p class="tl3 col-bl">

                        Преодоление психологической зависимости

                    </p>
                </li>
                <li class="program-target__slider-list-e swiper-slide">
                    <span class="program-target__slider-list-e-count txt24 txt24_bold ">2</span>
                    <p class="tl3 col-bl">

                        Вытеснение химических зависимостей из системы ценностей

                    </p>
                </li>
                <li class="program-target__slider-list-e swiper-slide">
                    <span class="program-target__slider-list-e-count txt24 txt24_bold ">3</span>
                    <p class="tl3 col-bl">

                        Развитие навыков самостоятельной трезвой жизни в социуме

                    </p>
                </li>
                <li class="program-target__slider-list-e swiper-slide">
                    <span class="program-target__slider-list-e-count txt24 txt24_bold ">3</span>
                    <p class="tl3 col-bl">

                        Развитие навыков самостоятельной трезвой жизни в социуме

                    </p>
                </li>
                <li class="program-target__slider-list-e swiper-slide">
                    <span class="program-target__slider-list-e-count txt24 txt24_bold ">3</span>
                    <p class="tl3 col-bl">

                        Развитие навыков самостоятельной трезвой жизни в социуме

                    </p>
                </li>
                <li class="program-target__slider-list-e swiper-slide">
                    <span class="program-target__slider-list-e-count txt24 txt24_bold ">3</span>
                    <p class="tl3 col-bl">

                        Развитие навыков самостоятельной трезвой жизни в социуме

                    </p>
                </li>
            </ul>
        </div>
        <div class="program-targe__nav slider-actions ">

            <div class="slider-actions-pagin program-targe__nav-pagin">
            </div>
            <div class="slider-actions-btns ">
                <button class="btn-slider btn-slider_left program-targe__nav-prev">
                    <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z">
                        </path>
                    </svg>
                </button>

                <button class="btn-slider btn-slider_right program-targe__nav-next">
                    <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M1.0016 7C0.449311 7 0.000881608 7.44772 5.96046e-08 8C-0.000881489 8.55228 0.446119 9 0.998404 9L1.0016 7ZM21.706 8.70711C22.0971 8.31658 22.0981 7.68342 21.7082 7.29289L15.3544 0.928941C14.9645 0.538418 14.3314 0.538418 13.9402 0.928941C13.5491 1.31947 13.5481 1.95263 13.938 2.34315L19.5858 8L13.9199 13.6568C13.5288 14.0474 13.5277 14.6805 13.9176 15.0711C14.3075 15.4616 14.9407 15.4616 15.3319 15.0711L21.706 8.70711ZM0.998404 9L20.9984 9L21.0016 7L1.0016 7L0.998404 9Z">
                        </path>
                    </svg>
                </button>
            </div>

        </div>

    </div>
</section>