<section class="service-heading">
    <div class="container service-heading__c">

        <div class="service-heading__c-left">
            <h1 class="tl1">
                Коплексное лечение <span class="col-bl">наркомании</span>
            </h1>
            <p class="txt24 col-gray">
                Индивидуальный подход и подбор программы лечения каждому пациенту, отвественный медперсонал.
            </p>
            <div class="service-heading__c-left-footer">
                <div class="service-heading__c-left-footer-price">
                    <div class="price price_small">
                        <p class="price-context">от</p>
                        <p class="price-data">4 900</p>
                        <p class="price-context">сутки</p>
                    </div>
                </div>
                <button class="btn-primary txt24 txt24_bold modal-opener" data-modal="send-call">
                    Оставить заявку
                </button>
            </div>
        </div>
        <div class="service-heading__c-right">
            <img src="./assets/images/service-heading.webp" alt="heading">
        </div>

    </div>
</section>