<section class="standart-detox">
    <div class="container">
        <h2 class="tl1">Что входит в стандартную детоксикацию?</h2>
        <ul class="standart-detox__c">
            <li class="standart-detox__c-e">
                
                <div class="standart-detox__c-e-img"><img   src="./assets/images/two-stage-1.webp" alt="detox"></div>
                <div class="standart-detox__c-e-text">
                    <p class="txt20 col-bl">Дезинтоксицирующие средства</p>
                    <p class="txt20 col-gray">Капельницы</p>
                </div>
            </li>
            <li class="standart-detox__c-e">
                <div class="standart-detox__c-e-img"><img   src="./assets/images/two-stage-1.webp" alt="detox"></div>
                <div class="standart-detox__c-e-text">
                    <p class="txt20 col-bl">Защита клеток мозга</p>
                    <p class="txt20 col-gray">Нейропротекторы</p>
                </div>
            </li>
            <li class="standart-detox__c-e">
                <div class="standart-detox__c-e-img"><img   src="./assets/images/two-stage-1.webp" alt="detox"></div>
                <div class="standart-detox__c-e-text">
                    <p class="txt20 col-bl">Восстановление функции сердца</p>
                    <p class="txt20 col-gray">Кардиопротекторы</p>
                </div>
            </li>
            <li class="standart-detox__c-e">
                <div class="standart-detox__c-e-img"><img   src="./assets/images/two-stage-1.webp" alt="detox"></div>
                <div class="standart-detox__c-e-text">
                    <p class="txt20 col-bl">Снятие тревожности и др.</p>
                    <p class="txt20 col-gray">Седативные препараты</p>
                </div>
            </li>
        </ul>
    </div>
</section>