<section class="two-stage">
    <div class="container two-stage__c">
        <h2 class="tl1">Две стадии реабилитационного процесса</h2>
        <div class="two-stage__c-items">
            <div class="two-stage__c-items-e">
                <img class="two-stage__c-items-e-img" src="./assets/images/two-stage-1.webp" alt="two-stage">
                <div class="two-stage__c-items-e-top">
                    <span class="two-stage__c-items-e-top-count txt24 txt24_bold">1</span>
                    <h3 class="tl3">Реабилитация в наркологическом центре</h3>
                </div>
                <div class="two-stage__c-items-e-bottom">
                    <img class="two-stage__c-items-e-bottom-bg" src="./assets/images/circle-bg.webp" alt="circle-bg">
                    <ul class="marked-list two-stage__c-items-e-bottom-list">
                        <li class="marked-list-e txt20 col-gray">
                            <img src="./assets/images/icons/dot.svg" alt="dot">
                            Восстанавление когнитивно-поведенческих функций зависимого
                        </li>
                        <li class="marked-list-e txt20 col-gray">
                            <img src="./assets/images/icons/dot.svg" alt="dot">
                            Налаживает взаимоотношения с родственниками
                        </li>
                        <li class="marked-list-e txt20 col-gray">
                            <img src="./assets/images/icons/dot.svg" alt="dot">
                            Зависимый получает психологические инструменты для работы с тягой и жизни без наркотиков
                        </li>
                    </ul>
                </div>
            </div>
            <div class="two-stage__c-items-e">
                <img class="two-stage__c-items-e-img" src="./assets/images/two-stage-2.webp" alt="two-stage">
                <div class="two-stage__c-items-e-top">
                    <span class="two-stage__c-items-e-top-count txt24 txt24_bold">2</span>
                    <h3 class="tl3">Постлечебная программа</h3>
                </div>
                <div class="two-stage__c-items-e-bottom">
                    <img class="two-stage__c-items-e-bottom-bg" src="./assets/images/circle-bg.webp" alt="circle-bg">
                    <ul class="marked-list two-stage__c-items-e-bottom-list">
                        <li class="marked-list-e txt20 col-gray">
                            <img src="./assets/images/icons/dot.svg" alt="dot">
                            Приобретение навыков трезвой жизни в социуме
                        </li>
                        <li class="marked-list-e txt20 col-gray">
                            <img src="./assets/images/icons/dot.svg" alt="dot">
                            Посещение психологических групп вне реабилитационного центра
                        </li>
                        <li class="marked-list-e txt20 col-gray">
                            <img src="./assets/images/icons/dot.svg" alt="dot">
                            Психологическая поддержка 24/7
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>