@import './mixins';

$black: #2D2D33;
$blue: #4F84E0;
$white: #ffffff;
$gray: #656A75;
$light-blue: #DCE9FF;
$liner: #5188ED #306DE5;
$bg: #ffffff;
$red: rgba(217, 56, 56, 1);
$green: rgb(0, 128, 64);

body {
  background-color: $bg;
  color: $black;
  font-family: 'Geometria';

  .lock & {
    overflow: hidden;
    touch-action: none;
  }
}

.disable-margin section {
  margin-top: 6rem !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  position: relative;
  // overflow: hidden;
}

* {
  // outline:  1px solid red;
}

// main
main {
  flex-grow: 1;

  section {
    margin: 20rem 0 0;

    @include small-tablet {
      margin: 16rem 0 0;
    }

    &._first {
      margin: 3.2rem 0 0rem;

      @include small-tablet {
        margin: 6.4rem 0 0rem;
      }
    }
  }
}

.desktop {
  display: block;

  @media (max-width: 48em) {
    display: none;
  }
}

.mobile {
  display: none;

  @media (max-width: 48em) {
    display: block;
  }
}

.fancybox__container {
  backdrop-filter: 1rem;
  -webkit-backdrop-filter: 1rem;
  --fancybox-bg: rgba(25, 31, 43, 0.8);

}

.fancybox__toolbar {
  --f-button-bg: rgba(25, 31, 43, 0.8);
  --f-button-hover-bg: rgba(25, 31, 43, 0.8);
  --f-button-active-bg: rgba(25, 31, 43, 0.8);
}



@import './ui/ui';